[2021-04-29 12:16] rashmi0301 commented on #981
still occur paji
please check fort all fields in dev and design

[2021-04-29 12:32] rashmi0301 commented on #764
empty loaded is not showing whether we had added -- DONE
total miles should show . --DONE

fix the BOL/POD message  --- NOT DONE

[2021-04-29 12:36] Hardeep8587 commented on #834
@rashmi0301 why we need to change vehicle type name

[2021-04-29 12:37] rashmi0301 opened #1029 "planner :- Assign button NOt working"
![image](https://user-images.githubusercontent.com/79301742/116551557-ad30dc80-a915-11eb-92dc-55ce5ab5dceb.png)

[2021-04-29 13:21] FH-sandeepkaur1 commented on #1024
@Daljit-fleetHawks  will do this

[2021-04-30 03:45] Hardeep8587 commented on #826
Trip number works, will work on port of entry

[2021-04-30 05:14] FH-sandeepkaur1 commented on #1019
Biweekly date thing is not in design. @fleetui please check

[2021-04-30 05:50] rashmi0301 commented on #982
1. description is not showing -- DONE
2. odometer should be appear miles not mi -- DONE
3. fuel stop details are not showing except vendor  -- DONE
4. payment details under the paid by , payment mode ,reimburse to drive r, deduct to pay -- these options are not showing -- DONE
5. price/gallon -- wrong data is showing -- DONE  ( after adding values are changed on detail page as well as editing page

[2021-04-30 05:54] rashmi0301 commented on #982
NOT DONE :-

1. Discount is not showing properly
2. fuel card field is missing on detail page
3. reimburse , deduct to pay should be appear on different field
4. I had added gallon unit but on detail/ editing page litre is showing . please discuss regarding this and as well as values .
5.  fuel integration -- PENDING
6. please fix the dropdown overlap issues for all fields

[2021-04-30 06:18] rashmi0301 commented on #1019
@fleetui please discuss if we want then please add on design .. if we don't need it then update here also

[2021-04-30 06:30] rashmi0301 commented on #927
NOT DONE

[2021-04-30 06:38] rashmi0301 commented on #780
any update

[2021-04-30 06:38] rashmi0301 commented on #779
any update

[2021-04-30 06:48] rashmi0301 commented on #899
working

[2021-04-30 06:50] rashmi0301 commented on #1019
![image](https://user-images.githubusercontent.com/79301742/116658884-4f040800-a9ae-11eb-970d-071ec5e2497c.png)

location is not showing

[2021-04-30 06:57] rashmi0301 commented on #1022
DONE

[2021-04-30 06:57] #1022 closed, assigned to nobody

[2021-04-30 07:20] rashmi0301 commented on #1029
DONE

[2021-04-30 07:20] #1029 closed, assigned to nobody

[2021-04-30 07:57] rashmi0301 commented on #942
any update

[2021-04-30 08:15] rashmi0301 opened #1033 "Asset :- please fix these errors"
![image](https://user-images.githubusercontent.com/79301742/116667781-33066380-a9ba-11eb-975b-d3c0dac48709.png)

[2021-04-30 09:42] rashmi0301 commented on #1001
After the RND

CAD currency should be after the price

[2021-04-30 20:21] robinhawks commented on #981
@fleetui why it is not completed yet ?

[2021-04-30 20:26] pankaj-fleethawks commented on #981
okay @rashmi0301 i will do it.. and will update you..

[2021-05-01 05:55] rashmi0301 commented on #623
Hello team , as per the discussion with kunal we need to show the slash in between the format in frontend and - in backend .
format is fine now . but please put slash in frontend

[2021-05-01 10:08] robinhawks commented on #1024
@Daljit-fleetHawks  :- Any timeline when this can be done ??

[2021-05-01 11:59] pankaj-fleethawks commented on #981
![image](https://user-images.githubusercontent.com/63699936/116781767-bb603380-aaa2-11eb-94c2-02060f7895dc.png)

It's done on design @rashmi0301  check it now..
http://design.fleethawks.com/dashboard/fuel-entry.php

[2021-05-01 12:59] rashmi0301 commented on #806
any update ?
this is still occur

[2021-05-01 12:59] rashmi0301 commented on #805
any update

[2021-05-01 13:01] Daljit-fleetHawks commented on #1024
Not Sure @robinhawks . As currently working on ELD

[2021-05-01 13:07] rashmi0301 commented on #662
Account setting is removed now ..
on clicking the company profile -- then we will redirect to the company profile page ..

NOTE:- The old usernames don't have the data in their carrier tables they entered directly in the users and this function requires carrier ID . when you do it for a new carrier then it works .

[2021-05-01 13:11] rashmi0301 commented on #654
new design for driver is implementing by @Hardeep8587

same for driver model

[2021-05-01 13:35] rashmi0301 commented on #787
now we only add 4 attachments (png, PDF, jpeg)
and success message is now BOL/POD

[2021-05-01 13:35] #787 closed, assigned to nobody

[2021-05-01 13:42] rashmi0301 commented on #803
For Birth certificate Documents we only need canada, usa & mexico and their provinces

[2021-05-01 13:45] rashmi0301 commented on #1019
DONE

[2021-05-01 13:46] #1019 closed, assigned to nobody

[2021-05-01 16:57] Hardeep8587 commented on #654
m working on new design and database schema

[2021-05-01 18:12] rashmi0301 commented on #925
DONE

1. Raw data should not appear when we shuffle the options
2. When we are on editing page then asset type (RD) in code is showing
3. state of loading and state of acceptance is not showing --- ( raw data is showing when we are on editing page )
4. I am not getting the data on detail page .and not able to edit the form now
5. address is not showing properly . undefined text is showing
7. drive

[2021-05-01 18:14] pankaj-fleethawks commented on #1011
Employee shifted in manage tab and redesign the page as UI point of way.. in design link
@rashmi0301  check it
http://design.fleethawks.com/dashboard/add-staff.php

**In dev, now developer need to do this.. Thanks**

[2021-05-01 18:20] #925 closed, assigned to nobody

[2021-05-01 18:26] rashmi0301 opened #1036 "cross border :- Send to CBSA"
we are not getting the response for both ACI /ACE

[2021-05-01 18:37] rashmi0301 opened #1037 "Cross border :- Shipment / Cargo number"
ACE/ACI

we cannot use the same number for next 3 years .
if we have multiple shipments on single manifest then need to have unique shipment/cargo number

[2021-05-01 18:46] Hardeep8587 commented on #1037
validation part

[2021-05-01 18:50] rashmi0301 opened #1038 "cross border :- Documents"
please check all the countries related to the documents . do we need all of the countries related to the particular document .

For Birth certificate Documents we only need canada, usa & mexico and their provinces

[2021-05-01 18:57] rashmi0301 commented on #975
![image](https://user-images.githubusercontent.com/79301742/116792263-6279a680-aa74-11eb-96c5-dd8728a985ff.png)

[2021-05-01 19:01] Hardeep8587 commented on #1038
![image](https://user-images.githubusercontent.com/63697698/116792369-c7b5b200-aadd-11eb-9582-47fbadcdcec4.png)

[2021-05-01 19:08] #927 closed, assigned to nobody

[2021-05-01 19:08] rashmi0301 commented on #927
above all points are done .. 1 point is pending i will create a new task for this

[2021-05-01 19:09] rashmi0301 opened #1039 "Document :- created by date is not appear"
![image](https://user-images.githubusercontent.com/79301742/116792535-0d3e9480-aa76-11eb-9c63-8a375af80223.png)

and while editing then created by date is not appear

[2021-05-01 19:25] pankaj-fleethawks commented on #1001
labor spell is not matched with add form - **already matched in design link**
description spell is wrong - **done on design**
background should be there over the description section - **in design there is already background**
put vendor instead of vendor ID - **done on design**
put asset name instead of asset id - **done on design**
Put Bill# instead of bill number - **done on design**
remove odom

[2021-05-01 19:29] rashmi0301 opened #1040 "Design issue :- Route :- UI"
![image](https://user-images.githubusercontent.com/79301742/116792918-76270c00-aa78-11eb-9cdb-c1bd2d4d6af0.png)

my current typing location should not hide

[2021-05-01 19:30] rashmi0301 commented on #1040
2. please add recurring route date on route detail page on design and then developer will implement on dev
3. plz add miles on detail page

[2021-05-01 19:37] rashmi0301 commented on #1001
labor spell is not matched with add form - already matched in design link ---- this should be labor
background should be there over the description section -  -- pending on dev

[2021-05-01 19:39] rashmi0301 opened #1041 "CAD currency should be after the price"
example on service log detail page .

but applicable for all .

[2021-05-01 20:02] rashmi0301 commented on #764
DONE

[2021-05-01 20:02] #764 closed, assigned to nobody

[2021-05-01 20:05] rashmi0301 commented on #981
![image](https://user-images.githubusercontent.com/79301742/116793807-e1bfa800-aa7d-11eb-83a9-a1e1ee84ad20.png)

i am not able to see the month name ..
calendar should be pen below the field

[2021-05-01 20:11] rashmi0301 commented on #1011
checked on design

remove # with the SIN
For user account and other headings -- need some above space so that we know user account is the different section
button should be cancel save
if we want to add more address then put plus icon with the clear
 put province instead of state
i guess we need to put the attachment field instead of add picture
title should be add employee

http://design.fleethaw

[2021-05-03 04:57] Hardeep8587 commented on #999
@rashmi0301 please check now

[2021-05-03 04:58] Hardeep8587 commented on #852
@rashmi0301 please check now

[2021-05-03 04:58] Hardeep8587 commented on #852
please close this task even if it's done, just comment, we have opened this task for other backend reason too

[2021-05-03 08:44] Hardeep8587 commented on #1038
@rashmi0301 Please mention for all other document type so will apply all at once..

[2021-05-03 08:46] Hardeep8587 commented on #1038
![birth](https://user-images.githubusercontent.com/63697698/116857178-03ee2d00-ac1a-11eb-8f59-15ebcee37803.png)
 This is what I got from border connect itself, other  docs are preferable but they can use this doc incase they need, rest I will do what you recommend for validations and please need to go deep! thank you

[2021-05-03 08:48] Hardeep8587 commented on #1038
@rashmi0301 assign this task to Amitoj also so he should also know about issues.

[2021-05-03 10:41] rashmi0301 commented on #1038
@Hardeep8587 For Birth certificate Documents we only need canada, usa & mexico and their provinces --- this is only for birth certificate .
as per i talked with @robinhawks .

as i saw above screenshot i guess we need all countries of birth certificate in future ... please confirm paji

[2021-05-03 10:53] Hardeep8587 commented on #1038
@rashmi0301 birth certificate of passenger or driver?

[2021-05-03 11:28] robinhawks commented on #1038
@Hardeep8587
Try asking them from overseas not from North America or try can I travel with my birth certificate from India or any other country (except USA,, Canada, Mexico )if they say yes than you can use it !  which I really doubt it ....whatever the answer is please attach the screen shot
Thanks !

[2021-05-03 11:29] rashmi0301 opened #1042 "Order :- Consignor / consignee"
if i m adding the consignor and consignee through plus icon then not able to add .
validation exception error occur .

[2021-05-03 11:35] rashmi0301 opened #1043 "Order :- Repetition section issue"
![Screenshot (16)](https://user-images.githubusercontent.com/79301742/116871191-ba292680-abc8-11eb-90c9-cfdeab0c7d3a.png)

1. if we click on add more button , on clicking the shipment 2 then above section of shipment 1 should be close .  Same repetition in detail page also

2.  if we want to edit the details of the shipment 2 then we click on edit option then shipment 2 details are also opened in

[2021-05-03 11:36] Hardeep8587 commented on #1038
Yes, passport and license is attached but birth certificate can also be attached for persons as travel document who are out of north america.

[2021-05-03 11:38] Hardeep8587 commented on #1038
@robinhawks It is not used often but if they want to attach along with other document, we will not have option.  please specify for other document types like naturalization, laser visa etc so will do all at once, thanku

[2021-05-03 11:46] Hardeep8587 commented on #1038
@robinhawks @rashmi0301 please make a document of all the validations of cross border, so we should not send wrong data and avoid any delay or penalty, then will apply all to fill valid information only.

[2021-05-03 11:54] rashmi0301 commented on #1038
![image](https://user-images.githubusercontent.com/79301742/116872909-a7fcb780-abcb-11eb-9fd1-6d39fe0e0e3d.png)

![image](https://user-images.githubusercontent.com/79301742/116872973-bf3ba500-abcb-11eb-98b4-a7e30a1a1983.png)

@Hardeep8587 please check above
paji please confirm

[2021-05-03 12:09] rashmi0301 commented on #846
Remove the google miles as per the discussion  -- DONE
Remove the Remarks field as per the discussion --  DONE
total amount on list view -- remove 00 at last -- DONE
calculations are wrong in detail page while ticked the zero rated . please go through it with provinces also -- DONE

[2021-05-03 12:09] #846 closed, assigned to nobody

[2021-05-03 12:10] robinhawks commented on #1038
@Hardeep8587
If you think we need to attach birth certificate go ahead but according to me its not legal way so you can take your decision !
as you have done and documented also so its better you decide
@rashmi0301 Do as she says she had a word with border connect and also she attached the screen shot so test accordingly
Thanks

[2021-05-03 12:17] rashmi0301 opened #1044 "Order :- Order number should not repeat"
![image](https://user-images.githubusercontent.com/79301742/116874257-e004fa00-abcd-11eb-888e-0a7fca2855e0.png)

if the order is autogenerated then why same number is appear while creating the  order . This was not occurred . but today while creating the order same order number is appear .

2. while editing the attachment is not showing
3. on detail page :- currency is not showing with charges

[2021-05-03 13:35] rashmi0301 commented on #763
![image](https://user-images.githubusercontent.com/79301742/116882176-fbc1cd80-abd8-11eb-95f0-5a823fec9e00.png)

[2021-05-03 13:48] Hardeep8587 commented on #1038
@robinhawks it's not my decision, I always say need another eye to see to make sure it's correct, it's huge, we discuss so we make best product.

[2021-05-03 15:07] robinhawks commented on #1038
@Hardeep8587 Ok you win !
Do one thing we can keep birth certificate as the secondary document but primary must be Passport....
so now if a passenger is travelling they can carry their birth certificate but PASSPORT is Must and it needs to be Primary.....

[2021-05-03 15:22] FH-sandeepkaur1 commented on #780
it is still pending @rashmi0301
@fleetui  please check

[2021-05-03 18:19] rashmi0301 opened #1047 "Cross Border :- ACE"
pending items :-

1. subjected to FDA
2. assign broker proper data is not showing
3. commodity value in USD show twice
4. under the shipment - full address is not showing (Consignor/Consignee) -- detail page
5. US address from where it comes
6. currency needs to have with policy amount

[2021-05-03 18:20] rashmi0301 commented on #920
1. When we are on editing page then asset type (RD) in code is showing -- DONE
2. When we are on editing page then fast card is not showing -- DONE
3. When we are on editing page then IIT is not showing --- DONE

4. US port of arrival - location name is not showing -- Detail page --- DONE
6. under the shipment - total commodities ( weight is not showing ) and for quantity full name should show --

[2021-05-03 18:21] #920 closed, assigned to nobody

[2021-05-03 18:28] rashmi0301 commented on #852
done

[2021-05-03 18:28] #852 closed, assigned to nobody

[2021-05-03 18:29] rashmi0301 commented on #999
done

[2021-05-03 18:29] #999 closed, assigned to nobody

[2021-05-03 18:30] AmitojSingh1 commented on #1006
Map view button basically gets data from ELD and displays the location of trucks nearby. So, put it on hold until we get data from GPS

[2021-05-03 19:22] FH-sandeepkaur1 commented on #1042
This is working fine @rashmi0301

[2021-05-03 19:42] FH-sandeepkaur1 commented on #1033
It is the issue of frontend validation. @nameetjambla  will solve it

[2021-05-04 04:50] Hardeep8587 commented on #1038
@robinhawks, Oh bhaji come on,  I was just discussing, I was saying they don't use it often, license and passport is preferable, I mentioned in above document. we need to write code (api most likely) for a document which is rarely used, just a support document of other documents. If we want validation, we must write for other most commonly used  documents like NEXUS card, US visa etc.

[2021-05-04 10:45] rashmi0301 commented on #921
new driver design is in progress

[2021-05-04 10:45] #921 closed, assigned to nobody

[2021-05-04 10:47] rashmi0301 commented on #814
new design is done and checked

[2021-05-04 10:48] #814 closed, assigned to nobody

[2021-05-04 10:49] rashmi0301 commented on #722
any update

[2021-05-04 10:49] rashmi0301 commented on #593
any update ?

[2021-05-04 10:50] rashmi0301 commented on #909
any update ?
do we need or not ?

[2021-05-04 10:51] rashmi0301 commented on #810
any update ?

[2021-05-04 10:52] rashmi0301 commented on #659
any update ?

[2021-05-04 10:52] rashmi0301 commented on #591
Any update ?

[2021-05-04 10:53] rashmi0301 commented on #588
any update guys ?
please figure it out .. it occur some times ..
why it is taking so long ?

[2021-05-04 10:55] rashmi0301 commented on #691
please update guys

[2021-05-04 11:00] rashmi0301 commented on #1006
okay sure @AmitojSingh1 paji

[2021-05-04 11:01] rashmi0301 commented on #973
design of all pages f driver has been changed . this is in progress @Hardeep8587

[2021-05-04 11:01] rashmi0301 commented on #972
any update ?

[2021-05-04 11:02] rashmi0301 commented on #962
any update ?

[2021-05-04 11:03] rashmi0301 commented on #958
@nameetjambla kindly mention the names of pages in which validations are already done .. so that i will start testing on those pages ..

[2021-05-04 11:04] rashmi0301 commented on #942
why it is taking so long ?
any update .

[2021-05-04 11:05] rashmi0301 commented on #889
validation task  has been already created .. @nameetjambla  is working on it .

[2021-05-04 11:05] #889 closed, assigned to nobody

[2021-05-04 11:12] robinhawks commented on #864
@Hardeep8587 it is pending from last one month, there was no update from you on this
do let know if you have any hurdle

[2021-05-04 11:13] rashmi0301 commented on #905
@nameetjambla  please add the validations on login form ..

[2021-05-04 11:14] rashmi0301 commented on #880
new driver page is in progress

[2021-05-04 11:14] #880 closed, assigned to nobody

[2021-05-04 11:22] rashmi0301 commented on #779
@fleetui kindly update ?
why it is taking so long ?

[2021-05-04 12:00] rashmi0301 commented on #974
any update regarding full reminders

[2021-05-04 12:02] rashmi0301 commented on #983
done

[2021-05-04 12:02] #983 closed, assigned to nobody

[2021-05-04 12:15] nameetjambla commented on #958
@rashmi0301  From fleet module Assets, fuel, vehicles, issues,  are completed (reminder) is also done yesterday but some new fields are added today so I need to put validation once again you can check reminder validation but don't consider it complete at a moment.
From routing and dispatch you can check validation on the add order page for a moment for add-trip validation is done but i need to che

[2021-05-04 13:31] rashmi0301 commented on #1033
Hi @nameetjambla

![image](https://user-images.githubusercontent.com/79301742/117011004-3cd1e480-aca2-11eb-9767-0a1a32b27142.png)
this field is not optional but validation message is required . check above

2.
![image](https://user-images.githubusercontent.com/79301742/117011083-53783b80-aca2-11eb-8ad2-574c35218299.png)
entered 18 digits alphanumeric but still validations are appear

3. license pl

[2021-05-04 14:14] rashmi0301 commented on #1042
working

[2021-05-04 14:14] #1042 closed, assigned to nobody

[2021-05-04 14:35] FH-sandeepkaur1 commented on #1044
Please check it in my login. Your login has old orders, i think it is the issue of repetition.

[2021-05-04 14:37] FH-sandeepkaur1 commented on #763
Please check by creating new record

[2021-05-04 14:37] FH-sandeepkaur1 commented on #1039
Please check on new records

[2021-05-04 14:38] FH-sandeepkaur1 commented on #926
Please check by adding new records

[2021-05-04 15:01] Hardeep8587 commented on #1047
@rashmi0301 please add screen shot nd separate them,
US address comes when there is no shipment otherwise its consignee address, it's mentioned in PDF I shared

[2021-05-04 16:31] nameetjambla commented on #1033
1.@rashmi0301 I have read some articles over the internet and most of them show license plate numbers having 8 digits in them.
2.In VIN number can you confirm with robin paji because I have read over the internet most of them contain numbers only.
3.Rest all the above issues will resolve soon.

[2021-05-04 16:57] rashmi0301 commented on #975
![image](https://user-images.githubusercontent.com/79301742/117040813-238b6100-acbf-11eb-8ef3-0b886f7c52c6.png)

when we add new entry then this type of pagination occur

[2021-05-04 16:59] rashmi0301 commented on #1039
![image](https://user-images.githubusercontent.com/79301742/117041038-60575800-acbf-11eb-9409-18934f536909.png)

new error  occur while editing

[2021-05-04 17:01] rashmi0301 commented on #926
in case sensitive this is not working

[2021-05-04 17:06] rashmi0301 commented on #763
![image](https://user-images.githubusercontent.com/79301742/117042097-669a0400-acc0-11eb-9c33-736395cd3d2e.png)

not working in case sensitive .. checked over new record

[2021-05-04 17:33] rashmi0301 commented on #1033
okay @nameetjambla
now i am clear about the license plate  number

[2021-05-04 17:33] rashmi0301 commented on #1033
please resolve rest

[2021-05-04 17:37] rashmi0301 commented on #1047
okay

[2021-05-04 17:39] rashmi0301 opened #1051 "Cross border :- ACE"
1.  put # instead of number
2  put add asset instead of add trailer -- detail page
3  when reload the detail page then shipment section is not showing . it is appear after sometime
4 add one step space  vehicle on --- detail page
5 remove commas
6  for passenger -- drive number is not showing
7 put vehicle name / asset name --- vehicle name / number
8  when  we do in-bond entry type then message s

[2021-05-04 17:56] rashmi0301 commented on #958
checked asset
issues :-
1. asset name validation is not correct
2. VIN - this is the alphanumeric and i had added alphanumeric 18 characters but still validation is showing .
3. Notes -- no validation apply

checked Fuel
1. fuel card field is pending
2. no character limit in reference

checked issue :-
1. no limit in odometer
2. i had  added .- with issue name still validation message is appear
3.

[2021-05-05 17:16] rashmi0301 commented on #812
@FH-sandeepkaur1  this issue happens again .

scenario is that :-

i am adding the new issue on service log add page but when i go to issue tab to see that particular issue then assigned to and reported by data is not appear ..
and i m adding these while creating a new issue through service log ( add new issue popup )

![image](https://user-images.githubusercontent.com/79301742/117182466-3a978500-

[2021-05-06 14:01] robinhawks commented on #854
@nameetjambla
Ask from  @Hardeep8587 and try to resolve !

[2021-05-06 14:05] robinhawks commented on #805
@rashmi0301 resolve the issue

[2021-05-06 16:14] Hardeep8587 commented on #864
@robinhawks , didn't get a chance to look into it, I will look into it, once I finish asset part, I will resolve issues

[2021-05-06 16:17] Hardeep8587 commented on #1051
@rashmi0301 please separate them so incase need to reopen, I commented 2 days back too, kindly add screen shots and add description of 8 point, what was that point? where is that in pdf of borderconnect? So I have clear idea

[2021-05-06 16:20] nameetjambla commented on #854
@robinhawks  Paji I am not working on cross border Sadaf is currently working on the validation of cross border.

[2021-05-06 16:39] rashmi0301 commented on #722
Regarding design link

@fleetui checked the items and compared the add forms with dev link

https://writer.zoho.com/writer/open/o36oj53e40e17d47a4df1881cc22ed6f23a36

[2021-05-06 17:08] rashmi0301 commented on #1051
okay @Hardeep8587 i will do  tomm ,.

[2021-05-06 18:06] rashmi0301 commented on #674
Done for models and add form .. updated the required and optional fields

[2021-05-06 18:08] #674 closed, assigned to nobody

[2021-05-06 18:26] rashmi0301 commented on #593
done now

[2021-05-06 18:26] #593 closed, assigned to nobody

[2021-05-06 18:40] rashmi0301 commented on #909
@robinhawks  please confirm the fields of pay per mile ( further fields ) in carrier add form .. and compare it with driver ( pay per mile field)
can we add more options  in carrier or not
this is regarding the pay per mile field for further options

[2021-05-06 19:03] pankaj-fleethawks commented on #780
please wait @FH-sandeepkaur1 i will do it asap... and @rashmi0301 this is technical so i will handle it. you can do another issue.. leave this issue...

[2021-05-06 19:04] rashmi0301 commented on #780
okay @fleetui paji .

[2021-05-06 19:30] rashmi0301 commented on #1041
Done for all
checked for all

[2021-05-06 19:31] #1041 closed, assigned to nobody

[2021-05-06 19:58] rashmi0301 commented on #958
checked validations on order page

1. additional contact name --- it should only alphabets small , capital , space .
2. reference field should be alphanumeric
3. pickup and delivery instruction -- need to have validation
4. commodity , temperature  -- need to have validation

[2021-05-07 10:25] rashmi0301 commented on #779
@nameetjambla as i discussed with @fleetui route information section  will change .. we will add the stop maximum 10 stops .. with the location name .

[2021-05-07 10:27] rashmi0301 commented on #1051
@Hardeep8587  i will do the minor changes .. those are left then i will update here with screenshots . okay !

[2021-05-07 12:52] rashmi0301 opened #1061 "orders :- Not able to save the shipment 2 now"
![image](https://user-images.githubusercontent.com/79301742/117452149-46ed2080-aef8-11eb-9091-ac1e02687aa1.png)

under the shipment 2 there is no save button of the consignee..

[2021-05-07 13:11] rashmi0301 opened #1062 "order :- commodity name is not showing"
on list page :- commodity name is not showing
while editing commodity name is not showing
on detail page also

[2021-05-07 13:14] rashmi0301 opened #1063 "order :- update or save button is not enabled"
i had added all the fields but the buttons are still disabled

this is due to the validation

[2021-05-07 13:16] rashmi0301 opened #1064 "orders :- Attachment is not showing on detail page"
i had added the attachment but this is not showing on detail page now

[2021-05-07 13:18] rashmi0301 opened #1065 "order :- Automatic commodity name is not showing on receiver"
![image](https://user-images.githubusercontent.com/79301742/117455395-00012a00-aefc-11eb-8370-2d00d19a0563.png)

[2021-05-07 13:19] rashmi0301 commented on #1044
DONE

[2021-05-07 13:19] #1044 closed, assigned to nobody

[2021-05-08 11:03] rashmi0301 commented on #1043
this is the technical issue so developer can do this

[2021-05-08 11:08] rashmi0301 commented on #806
![Screenshot (44)](https://user-images.githubusercontent.com/79301742/117536965-f2f34200-afb2-11eb-89af-d6d2a537ae67.png)

this issue still occur but occur sometimes .
this is the technical issue so developer can do this .

[2021-05-08 11:31] rashmi0301 commented on #1024
design is updated on add form

[2021-05-08 11:40] rashmi0301 commented on #588
![Screenshot (44)](https://user-images.githubusercontent.com/79301742/117537678-7151e300-afb7-11eb-9165-97f0321bc8e4.png)

again occur

[2021-05-08 15:28] rashmi0301 opened #1072 "Devices :- New field is added under the fleet but nothing is showing"
![image](https://user-images.githubusercontent.com/79301742/117544661-542d0c80-afd7-11eb-992c-9334c0527e45.png)

is it functional ?

[2021-05-08 15:30] rashmi0301 commented on #973
done

[2021-05-08 15:30] #973 closed, assigned to nobody

[2021-05-08 16:41] Daljit-fleetHawks commented on #777
@rashmi0301 Done

[2021-05-08 17:38] Hardeep8587 commented on #982
@rashmi0301 please check above points on devapp

[2021-05-08 19:09] rashmi0301 commented on #1011
@fleetui i had updated the employee tab fields under the manage tab .. all are done

could you please remove tab systems over there and please align the fields for the last tab only  . enable login  checkbox is pending .
i am not able to do this .

[2021-05-08 19:09] Daljit-fleetHawks commented on #1065
@rashmi0301 @robinhawks It was occuring due to validation implemented b nameet...he had fixed it now

[2021-05-08 19:12] rashmi0301 commented on #777
models are not updated with new design . Once its updated then i will start testing over there

[2021-05-08 19:52] rashmi0301 commented on #691
done

[2021-05-08 19:52] #691 closed, assigned to nobody

[2021-05-09 09:55] Hardeep8587 commented on #1051
@rashmi0301 I have already done few, please check dev and create issue for each

[2021-05-10 11:05] rashmi0301 commented on #1065
okay @Daljit-fleetHawks  i will check

[2021-05-10 16:03] nameetjambla commented on #674
@rashmi0301 this issue is complete and fixed you can check now

[2021-05-10 16:59] Daljit-fleetHawks commented on #777
@rashmi0301 Sure....as Hardeep is working on updating new design..once she finish it then all modals will get update

[2021-05-10 17:19] rashmi0301 opened #1079 "Address Book :- unique company name for all tabs"

[2021-05-10 17:21] rashmi0301 opened #1080 "Address Book :- add multiple additional contacts"
1. add multiple additional contacts -- pending to update
2. broker can be the customer -- pending to update
3. In factoring company -- make company as a default -- pending functionality
4. vendor -- in preferred vendor - what is the function of checkbox

[2021-05-10 18:14] nameetjambla commented on #1033
@rashmi0301
1.can you please confirm whether this field is required or optional because In that field there it was written optional but while Saving the entire form there is a validation from the backend which shows that this field is required so i am confused about that.

![image](https://user-images.githubusercontent.com/79189939/117704836-f243f100-b1e8-11eb-8a31-26c1472a88c5.png)

[2021-05-10 20:02] rashmi0301 opened #1081 "Carrier on board :- Validations issues"
1..validation on zip code
![image](https://user-images.githubusercontent.com/79301742/117716306-48377b00-b18e-11eb-943e-5df53a05ca68.png)

scenario is that :-  no limit is appear in validation message . if i am enter number , letters then still validation message is appear . check above screenshot .

2. street address must contain :- ,-
![image](https://user-images.githubusercontent.com/79301742/1

[2021-05-10 20:09] Daljit-fleetHawks commented on #1039
@rashmi0301 Its working fine

[2021-05-11 11:34] rashmi0301 commented on #834
we dont change the vehicle type names now

[2021-05-11 11:34] #834 closed, assigned to nobody

[2021-05-11 11:40] rashmi0301 commented on #885
1. on add page -- please add sliders in a photo section / images are not showing properly on detail page
2. On giving the down payment in usd after that it will give the error on the monthly payment field if user select on cad currrency ( same for purchase) . and on loan tab :- if our calculations are wrong then error should occur
3. Service program and annual safety date , inspection form , Enabl

[2021-05-11 11:41] rashmi0301 commented on #909
we dont need to add further payment fields in carrier and owner operator

[2021-05-11 11:41] #909 closed, assigned to nobody

[2021-05-11 13:34] #885 closed, assigned to nobody

[2021-05-11 13:35] rashmi0301 commented on #885
for new vehicle design i will create new issue

[2021-05-11 13:55] rashmi0301 opened #1085 "Vehicle :- Error should occur while selecting different currencies in payment sections"
1. On giving the down payment in usd after that it will give the error on the monthly payment field if user select on cad currrency ( same for purchase) . and on loan tab / insurance tab  :- if our calculations are wrong then error should occur
2. Under the details :- if the premium amount is in Canadian and insurance amount is in USD then error occur or not ?
3. on add page -- please add sliders

[2021-05-11 19:27] rashmi0301 commented on #1065
fixed
commodity is showing automatic

[2021-05-11 19:27] #1065 closed, assigned to nobody

[2021-05-12 10:33] nameetjambla commented on #659
@robinhawks paji  @rashmi0301 Frontend Validations are updated now .

[2021-05-12 13:02] pankaj-fleethawks commented on #683
@robinhawks bhaji please confirm that attach input will be optional or required (mandate) ??

[2021-05-12 13:15] robinhawks commented on #683
@fleetui  Make it Optional ....

[2021-05-13 11:19] rashmi0301 commented on #1024
designs are updated

[2021-05-13 11:19] #1024 closed, assigned to nobody

[2021-05-13 11:24] rashmi0301 commented on #683
@sadaf510  please do it for a entire solution

[2021-05-13 11:25] rashmi0301 commented on #757
@nameetjambla  please do it for a small task .. please add a space

![image](https://user-images.githubusercontent.com/79301742/118119481-4692d080-b3a3-11eb-82b9-139e3a7fa8a6.png)

[2021-05-13 11:27] rashmi0301 commented on #654
driver is added

[2021-05-13 11:27] #654 closed, assigned to nobody

[2021-05-13 11:28] rashmi0301 commented on #623
@sadaf510  is it done ?

[2021-05-13 17:13] pankaj-fleethawks commented on #779
@rashmi0301 @robinhawks @FH-sandeepkaur1 it is done, you can check on design link and implement it into dev link. Thanks

http://design.fleethawks.com/dashboard/create-trip.php

[2021-05-13 19:18] nameetjambla commented on #757
@rashmi0301  this issue is resolved now once my updated pr is merged you can check.

[2021-05-13 21:05] AmitojSingh1 commented on #1036
@rashmi0301 It's fixed. Responses are coming on the updated table.

[2021-05-13 21:06] AmitojSingh1 commented on #1072
I removed this. because the device should come under the manage tab.

[2021-05-14 09:02] rashmi0301 commented on #982
on detail page

vehicle fuel quantity is missing
discount type name is not there
total gallon where it is coming from ?

[2021-05-14 09:03] rashmi0301 commented on #1072
okay

[2021-05-14 09:04] #1072 closed, assigned to nobody

[2021-05-14 10:06] Hardeep8587 commented on #1036
@rashmi0301 @AmitojSingh1 PR is not merged yet, hold ur horses guys

[2021-05-14 10:58] nameetjambla commented on #757
@rashmi0301  you can check now this issue is resolved

[2021-05-14 11:08] rashmi0301 commented on #779
@FH-sandeepkaur1 please discuss with @fleetui and same thing will be implement on trips and route

[2021-05-14 11:09] rashmi0301 commented on #757
done .. thanks @nameetjambla

[2021-05-14 11:09] #757 closed, assigned to nobody

[2021-05-14 12:06] rashmi0301 commented on #972
1, due date now -- depend upon eld
2. overdue and due soon status -- how it comes / works ,
3. when on edit page then last odometer and last service date is not appear
4. groups and users where are these coming from ?
5. if we click on plus icon then here if we add group members and description where it save and where it is showing . This point is applicable for all group and type plus icons in ou

[2021-05-14 12:14] rashmi0301 commented on #974
![image](https://user-images.githubusercontent.com/79301742/118269163-3a764400-b473-11eb-8a07-25e5ee016904.png)

type is not showing

[2021-05-14 12:31] rashmi0301 commented on #781
any update ?

please add recurring date on detail page

[2021-05-14 12:41] Hardeep8587 commented on #1036
PR is merged

[2021-05-14 17:23] rashmi0301 opened #1106 "Carrier :- update the placeholders"
CCC
SCAC
Liability Insurance#
Cargo Insurance#
How did you find us?

placeholders are missing on above fields

select province placeholder ( state is there)
and postal code i guess space should allow . and in placeholder example there is space in postal code

[2021-05-14 17:24] pankaj-fleethawks commented on #1081
@rashmi0301 @Hardeep8587
how i can change my company password in company edit page ?

[2021-05-14 17:27] rashmi0301 opened #1107 "Carrier :- Business country field"
business country field is not showing on detail page
if i am selecting the business country Canada then mc number and dot number is still showing in detail page
if we only select the USA then only business is showing on detail page not MC and DOT

[2021-05-14 17:29] rashmi0301 opened #1108 "Carrier :- Super admin is not edited and Address issue"
if we edit he first name and last name then super admin is not edited .

it occur sometime . earlier it is working . plz figure out this .

2. sometimes mailing and yard address both are appear in home terminal dropdown . I guess only yard address should  appear

[2021-05-14 17:30] rashmi0301 commented on #1051
okay

[2021-05-14 17:32] rashmi0301 commented on #940
okay i will do tomm . by adding a new entry

[2021-05-14 17:41] rashmi0301 commented on #1081
@fleetui i had  mention in a description that password field is not in edit and detail  page ..

as i discussed with @Hardeep8587 we don't mention the password in detail page and for editing password . we need to make a separate functionality like old password , new password .

[2021-05-14 17:49] rashmi0301 commented on #803
@Daljit-fleetHawks

CDL  document is in document type dropdown and in license section  but in both countries are different  . plz confirm can we keep as it is. and please discuss the other document in document type field

[2021-05-14 20:30] rashmi0301 opened #1110 "Vehicle :- Detail page"
![image](https://user-images.githubusercontent.com/79301742/118325388-3e788500-b4b8-11eb-9d91-f008ff6b8652.png)

1. instead of open issues -- resolved issues are showing
2. due date is not showing and this is not in reminders also

[2021-05-14 20:43] rashmi0301 opened #1111 "Asset - date is not showing properly"
![image](https://user-images.githubusercontent.com/79301742/118326733-3a4d6700-b4ba-11eb-9c79-be8ecead5bc7.png)

1. this is in fuels also .. and plz check other modules
2. Remove cars make and models from the data and keep only for the truck/semi companies

[2021-05-14 20:51] rashmi0301 opened #1112 "Address Book :- Validation"
factoring rate -- pending
owner operator , carrier - address plz add coma .. and suggestion address put required validation
vendor , customer , consignor , consignee-- address plz add comma
cvor -- validation under the carrier
wsib -- validation under the carrier

[2021-05-14 23:08] AmitojSingh1 commented on #563
It's fixed. @rashmi0301 please test.

[2021-05-14 23:13] AmitojSingh1 commented on #588
@rashmi0301 if it occurs again please share the output from the console and network tab.

[2021-05-14 23:19] #645 closed, assigned to nobody

[2021-05-14 23:26] AmitojSingh1 commented on #806
Duplicate of #588

[2021-05-14 23:26] #806 closed, assigned to nobody

[2021-05-15 12:29] rashmi0301 commented on #683
![image](https://user-images.githubusercontent.com/79301742/118361057-8510c280-b53e-11eb-89f9-b3dc7ee56c7f.png)

someone is added type . plz remove this

[2021-05-15 12:52] rashmi0301 opened #1114 "Driver :- issue on new Design"
owner operator plus icon is missing and it should work properly

[2021-05-15 14:04] rashmi0301 commented on #972
![image](https://user-images.githubusercontent.com/79301742/118364078-d4a9bb00-b54b-11eb-9242-0712dda1768b.png)

[2021-05-15 15:40] rashmi0301 opened #1115 "Order :- pickup location should be manual if the map is not picking it up"
1. If FTL is selected , only 1 shipper and 1 receiver is supposed to be added but multiple commodities with multiple pickup address and drop addresses
2.  pickup location should be manual if the map is not picking it up

[2021-05-15 15:41] rashmi0301 opened #1116 "Order :- if adding a address without postal code , it should not run PC Miler queries at backend"

[2021-05-15 16:01] rashmi0301 commented on #1062
Now commodity name is showing on list page , edit page , detail page . -- DONE

Pending

1. but units of quantity and weight  are not showing on detail page

2. if we dont select the asset type then asset type field should not appear on detail page . it should appear when we select while adding . same for temperature ( plz confirm can we show those fields on detail page if we didnt while adding )

[2021-05-15 17:00] rashmi0301 commented on #1063
DONE

[2021-05-15 17:01] rashmi0301 commented on #1063
we  are not applying the disable enable save button in orders

[2021-05-15 17:01] #1063 closed, assigned to nobody

[2021-05-15 17:17] rashmi0301 opened #1117 "Dot point :- Todays Pick up should route to Planner with all the trips of current date"
1. adding a permanent route doesn't create trip automatically
2. Todays Pick up should route to Planner with all the trips of current date

[2021-05-15 17:23] rashmi0301 opened #1118 "order :- Zero rated field"
![image](https://user-images.githubusercontent.com/79301742/118372611-6d016900-b567-11eb-8001-1dc90696b15b.png)

1. if we select zero rated then amount should not show 00 at last . This should be applicable on edit page , list , detail page

2. if we edit the charges then charges calculations are not okay . check below screenshot "News Brunswick " tax is showing 30 .  and options are not showing w

[2021-05-15 18:45] rashmi0301 commented on #899
![image](https://user-images.githubusercontent.com/79301742/118374873-f79b9580-b572-11eb-8401-4cc5ebb39b99.png)

not working

[2021-05-15 18:54] rashmi0301 commented on #939
Again i am not able to add Route

[2021-05-15 19:12] rashmi0301 commented on #939
working ..

[2021-05-15 19:23] rashmi0301 commented on #777
modals are working now

[2021-05-15 19:23] #777 closed, assigned to nobody

[2021-05-15 19:39] rashmi0301 commented on #591
![image](https://user-images.githubusercontent.com/79301742/118376066-98da1a00-b57a-11eb-9cf0-ab4bcba760dc.png)

[2021-05-15 19:40] rashmi0301 commented on #588
![image](https://user-images.githubusercontent.com/79301742/118376083-ab545380-b57a-11eb-85af-c3e7705f5016.png)

[2021-05-15 19:44] rashmi0301 commented on #939
hello @nameetjambla  route is not edited and working properly due to the disabled create route button

[2021-05-15 20:27] robinhawks opened #1119 "Invoice Creation in Orders"

[2021-05-15 20:29] robinhawks opened #1120 "Split Trip in Routing and Dispatch"

[2021-05-15 20:30] robinhawks opened #1121 "Driver detail page -- safety summary , trips , vehicle utilization , Document."

[2021-05-15 20:31] robinhawks opened #1122 "Need to Enable IFTA...."

[2021-05-15 20:42] rashmi0301 commented on #1010
DONE

check above screenshot when we are adding new inspection then we should redirect to the listing page
cancel button is not working on inspection add form page
Not able to edit the form  --  no need

[2021-05-15 20:43] rashmi0301 commented on #1010
pending point

1. when we add the inspection form then checkbox is appear for some seconds then it disappear
2. when we are adding new inspection then we should redirect to the listing page
3. whether we add parameter or not then extra fields should open with minus button .
4. In vehicle and asset inspection form should show at a time .. not after refresh the page

[2021-05-15 20:45] rashmi0301 opened #1123 "Inspection form :- pagination is not working"
![image](https://user-images.githubusercontent.com/79301742/118377700-b5c71b00-b583-11eb-865f-1eb4c9fe57ed.png)

when we delete  any detail then pagination is not working properly

[2021-05-15 20:47] rashmi0301 opened #1124 "Design issue :- Inspection form :- Please fix the UI"
@fleetui pls fix the UI , alignment , spacing , pagination design ..

plz fix in detail , list , add page

[2021-05-15 20:56] #589 closed, assigned to nobody

[2021-05-15 20:59] rashmi0301 commented on #1039
working

[2021-05-15 20:59] #1039 closed, assigned to nobody

[2021-05-15 21:10] robinhawks opened #1125 "Document : Need to fetch data from ELD in Routing and Dispatch"

[2021-05-15 21:23] rashmi0301 opened #1126 "Map location currently not working"
Module name :-  Asset , fuel , inventory ( vendor name data )

[2021-05-15 21:41] AmitojSingh1 commented on #946
What's pending? @FH-sandeepkaur1 @rashmi0301

[2021-05-15 21:46] AmitojSingh1 commented on #1006
@rashmi0301 as we have no data from ELD could you please comment on the map view button and close the issue.

[2021-05-15 21:49] AmitojSingh1 commented on #1038
@Hardeep8587 @rashmi0301 is it done or still pending? if pending what's left?

[2021-05-15 21:51] AmitojSingh1 commented on #1126
@rashmi0301 For trackers, as we don't have data from Asset Tracker so we can comment on the map from the asset, fuel and inventory

[2021-05-16 11:03] Hardeep8587 commented on #1038
Lets Close it for now, discussed with Robin

[2021-05-16 11:05] Hardeep8587 commented on #1121
please add description

[2021-05-16 16:06] rashmi0301 commented on #1126
okay

[2021-05-16 18:22] rashmi0301 commented on #1006
okay

[2021-05-16 18:22] #1006 closed, assigned to nobody

[2021-05-16 22:05] AmitojSingh1 commented on #1116
Could you please share more details or a screenshot?

[2021-05-17 10:58] rashmi0301 commented on #1116
i guess we need to add a option here so that customer put manual address . and if he put manual address without adding the postal code /zipcode . then PC  miler should not run at backend ..

This is the customer DOT point .

once pls discuss with @FH-sandeepkaur1 as well .

[2021-05-17 11:04] rashmi0301 opened #1133 "Trips :- Can we show both date and time in Trip info as per the new design"
if we select order / route .. can we show both date and time

![image](https://user-images.githubusercontent.com/79301742/118478390-aa2f3d80-b6c4-11eb-8730-f41bcb4c0f55.png)

[2021-05-17 11:10] rashmi0301 opened #1135 "Trips :- Some changes after schema changes"
1. when we are on editing page then order number is not showing --- same on detail page
2. plan trip -- date format and calendar needs to be change
3. Assigned popup --- driver undefines is showing

Not able to edit the trip

4. on detail page it looks like this :-
![image](https://user-images.githubusercontent.com/79301742/118486915-039c6a00-b6cf-11eb-82e0-194b5462820a.png)

[2021-05-17 11:55] rashmi0301 commented on #1021
send to manifest button --- development pending

create this trip using --- not working properly

2 point :- Scenario is that -

if we select permanent route miles are not working properly . i had selected usa to nova scotia and miles in respective detail pages are 976.8 but in trip 15.2 are showing

[2021-05-17 11:57] rashmi0301 opened #1136 "Trips :- Go-to Trip Summary doesnt exist anymore , so it should be re-directed to Trip Detail only after the trip is associated to it. -- DOT"

[2021-05-17 12:09] rashmi0301 opened #1137 "Entire fleet :-"
1. on clicking the share icon then 404 error occur
2. duty status , schedule , on time -- it depends upon eld plz confirm

[2021-05-17 12:20] rashmi0301 opened #1138 "planner :- customer name is not showing"
![image](https://user-images.githubusercontent.com/79301742/118487439-90472800-b6cf-11eb-8db9-d6e4d288ae90.png)

[2021-05-17 12:26] rashmi0301 opened #1139 "planner :- if we have more confirmed trips then can we show search over there"
![image](https://user-images.githubusercontent.com/79301742/118488197-5b87a080-b6d0-11eb-84e7-c8b91b573fd0.png)

plz confirm

[2021-05-17 13:47] #1038 closed, assigned to nobody

[2021-05-17 13:50] rashmi0301 commented on #940
![image](https://user-images.githubusercontent.com/79301742/118499914-3436d080-b6dc-11eb-912a-8b09cd34f3f6.png)

not working

pagination also not working

[2021-05-17 13:52] rashmi0301 commented on #826
![image](https://user-images.githubusercontent.com/79301742/118500115-60525180-b6dc-11eb-9c1e-3c385ca586ac.png)

Searching not working

[2021-05-17 16:53] rashmi0301 opened #1140 "Cross should work for a entire solution after schema changes"
![image](https://user-images.githubusercontent.com/79301742/118526981-a667df00-b6f5-11eb-86a2-732e0b1987b3.png)

this should work on detail page , edit page , add page for entire solution

[2021-05-17 17:25] Hardeep8587 commented on #982
![Uploading image.png…]()

[2021-05-17 17:28] Hardeep8587 commented on #1037
@rashmi0301 need time for this

[2021-05-17 17:32] rashmi0301 commented on #1051
DONE POINTS

1. put add asset instead of add trailer -- detail page

[2021-05-17 17:33] rashmi0301 commented on #1051
Pending points

1. put # instead of number

4 add one step space vehicle on --- detail page
5 remove commas
7 put vehicle name / asset name --- vehicle name / number

[2021-05-17 17:36] rashmi0301 commented on #1047
DONE points

1. subjected to FDA
5. US address from where it comes
6. currency needs to have with policy amount

[2021-05-17 17:42] rashmi0301 commented on #1047
Pending points :-

5. for vehicle - license plate number SK is showing
6. entry type data is not showing properly

[2021-05-17 18:09] rashmi0301 commented on #1036
for ACE

![image](https://user-images.githubusercontent.com/79301742/118536239-53475980-b700-11eb-849b-e28b267f2ebf.png)

[2021-05-17 18:10] rashmi0301 commented on #1036
1. status in processing is showing for a long
2. when click on send to CBP button then notification should appear
3. we dont want to refresh the page for getting  any response . when we click on send to CBP then automation manifest history should appear

[2021-05-17 18:46] rashmi0301 opened #1142 "Cross Border :- ACI"
1. data of city/state of acceptance is not showing correctly -- detail page
2. container - exemptions are not showing when we edit
3. passenger driver number is not showing still
4. if we change vehicle , container then on other section vehicle container should automatic change cox in that case raw data is appear .
5. Reference checkbox is pending

[2021-05-17 18:50] rashmi0301 commented on #1036
FoR ACI

1. when click on send to CBP button then notification should appear
2. we dont want to refresh the page for getting  any response . when we click on send to CBSA then automation manifest history should appear

[2021-05-17 19:00] rashmi0301 commented on #1036
![image](https://user-images.githubusercontent.com/79301742/118542079-61e53f00-b707-11eb-9fd2-9327a52c525e.png)

object not created as expected

[2021-05-17 19:05] Daljit-fleetHawks commented on #1013
Done @rashmi0301

[2021-05-17 19:05] Daljit-fleetHawks commented on #812
Done @rashmi0301

[2021-05-17 19:05] Daljit-fleetHawks commented on #864
Done @rashmi0301

[2021-05-17 19:07] #563 closed, assigned to kunalfleethawks

[2021-05-17 19:19] rashmi0301 commented on #1106
PENDING

How did you find us?

select province placeholder ( state is there)
and postal code i guess space should allow . and in placeholder example there is space in postal code

[2021-05-17 19:43] rashmi0301 commented on #728
after deleting and creating pagination issue this is done

[2021-05-17 19:43] #728 closed, assigned to nobody

[2021-05-17 20:11] rashmi0301 commented on #1114
plus icon with owner operator is not there

[2021-05-18 10:47] rashmi0301 opened #1146 "Driver :- issue on new design after schema changes"
1. Abstract document is not showing on add , edit , detail page
2. please put province instead of state  -- add , detail , edit page + placeholders
3. citizenship data is not appear -- on list view
4. Address -- if we are typing any location then only address type and address option should show on detail page . and if we are typing address manually then all fields are showing . --- plz confirm
5.

[2021-05-18 10:54] rashmi0301 opened #1147 "Driver :- Issues on new design"
1. Currencies in payment section -- it should be  like the order . if we select CAD then all currencies should be in CAD
2. document with cross icon is not working -- add , edit , detail page
3. if select the checkbox of CSA then on edit page  tick is not showing
4. Home terminal address -- address should not cut off
5. assign vehicle raw data should not appear -- detail , edit page
6. date is sho

[2021-05-18 12:29] rashmi0301 commented on #982
discount type name is not there -- pending
now

city is not showing
date format 00 should not appear -- list , detail page

[2021-05-18 12:58] rashmi0301 commented on #982
![image](https://user-images.githubusercontent.com/79301742/118655033-01eda780-b79e-11eb-9b49-ccef7c005252.png)

if i entered another payment mode then still fuel card is showing

[2021-05-18 13:40] Hardeep8587 commented on #974
@rashmi0301 m working on this

[2021-05-18 13:43] rashmi0301 commented on #864
done

[2021-05-18 13:57] rashmi0301 commented on #1013
if our issue is closed and resolved then that particular issue name should not show -- done
documents and photos are not showing on detail page -- done
Task within the New Service log doesnt have flexibility -- dot point - done

[2021-05-18 14:02] rashmi0301 commented on #1001
background should be there over the description section - -- pending on dev -- done

[2021-05-18 14:03] #1001 closed, assigned to nobody

[2021-05-18 14:07] rashmi0301 commented on #812
DONE

[2021-05-18 14:07] #812 closed, assigned to nobody

[2021-05-18 14:14] rashmi0301 commented on #1013
issues occur after these changes :-

[2021-05-18 14:15] #864 closed, assigned to nobody

[2021-05-18 14:58] rashmi0301 commented on #1013
Document is not working on detail page . not able to open and delete
![image](https://user-images.githubusercontent.com/79301742/118674644-ceffdf80-b7ae-11eb-8abc-2e288e02874a.png)

[2021-05-18 17:05] rashmi0301 opened #1149 "design link :- issues"
checked state , dropdown and date format  on entire solution .

checked on design link .

1. state text on add form / detail page

-- driver , vehicle  , asset, fuel, order

2. dropdown issue is on :-
route page

3. date format should be in  placeholder :- yyyy/mm/dd in frontend
and in backend we save this format yyyy-mm-dd

[2021-05-18 17:35] rashmi0301 commented on #1013
1. on editing page added issue name is not appear
2. when we try to edit the asset in service log then type error is occur

![image](https://user-images.githubusercontent.com/79301742/118697953-b69abf80-b7c4-11eb-8465-449dc54ce1c7.png)

[2021-05-18 19:27] rashmi0301 commented on #1081
@nameetjambla will do

[2021-05-18 19:49] rashmi0301 commented on #1107
mc number show two times
csa , pip , ctpat is not showing now

[2021-05-18 19:51] rashmi0301 commented on #1108
Not done

![image](https://user-images.githubusercontent.com/79301742/118714887-cbcd1980-b7d7-11eb-9e63-d1db6b68ca0f.png)

[2021-05-18 19:55] rashmi0301 commented on #1107
![image](https://user-images.githubusercontent.com/79301742/118715261-4a29bb80-b7d8-11eb-967b-66dc66152602.png)

how can we remove this logo .. need red cross icon over there

[2021-05-18 21:45] robinhawks commented on #864
Working and checked !

[2021-05-18 21:53] robinhawks commented on #812
Checked and working !

[2021-05-18 21:57] robinhawks commented on #940
@Hardeep8587 @FH-sandeepkaur1 comment if you have done any point so we should know who worked on it !

[2021-05-18 21:59] robinhawks commented on #974
@rashmi0301 Test after completion try to finish this issue as its pending from almost a month now !

[2021-05-18 22:06] robinhawks commented on #1146
@rashmi0301 I explained you already not to make issues in one you should have divided and assigned to them individually unless these issues will be fixed or done in a day !
so make sure this wont happen again !

[2021-05-18 22:11] robinhawks commented on #1149
@rashmi0301 why you had made 9 points in one issue ??? make it all separate issues !

[2021-05-18 22:14] rashmi0301 commented on #1146
Hi @robinhawks paji,
Yes, we are decided for adding maximum 4 issues  if they are minor and these issues are minor just need to update text and removing something. These will be fix and done in a day. If there is any major issue then I will create a separate task as we decided.

[2021-05-18 22:20] robinhawks commented on #1146
@rashmi0301 if these are minor you should try to assign to one developer only

[2021-05-19 11:12] Hardeep8587 commented on #1047
@rashmi0301  please create issue for each, some are technical

[2021-05-19 11:13] Hardeep8587 commented on #1051
@rashmi0301 please create new one for each

[2021-05-19 11:22] Hardeep8587 commented on #940
@rashmi0301 please check devapp, trip number search and ports are showing

[2021-05-19 11:31] sadaf510 commented on #1111
This is done by me , testing is left

[2021-05-19 11:34] Hardeep8587 commented on #1111
@sadaf510 When u check on dev app, drag it to testing column

[2021-05-19 11:35] sadaf510 commented on #683
The issue is resolved.

[2021-05-19 11:36] rashmi0301 commented on #940
yes this is showing .. but searching not working

[2021-05-19 11:37] rashmi0301 opened #1152 "Cross Border - ACE"
when reload the detail page then shipment section is not showing . it is appear after sometime

[2021-05-19 11:38] rashmi0301 opened #1153 "Cross border -ACE"
for passenger -- drive number is not showing

[2021-05-19 11:39] Hardeep8587 commented on #1153
@rashmi0301 Passenger needs not to be a driver, so passenger does not have driver number

[2021-05-19 11:43] rashmi0301 opened #1154 "Cross Border :- ACE"
when we do in-bond entry type then message should appear ( amitoj asked in meeting )

@AmitojSingh1

[2021-05-19 11:44] rashmi0301 commented on #1051
@Hardeep8587 these are the minor one i don't think it will take 2 or more days .

[2021-05-19 11:47] rashmi0301 opened #1155 "Cross border - ACE"
assign broker proper data is not showing -- broker port location should be appear in different field

[2021-05-19 11:47] rashmi0301 opened #1156 "Cross border :- ACE"
US address from where it comes --- consignee full address is not showing

[2021-05-19 11:48] rashmi0301 opened #1157 "Cross border - ACE"
for vehicle - license plate number SK is showing
entry type data is not showing properly

[2021-05-19 11:49] rashmi0301 opened #1158 "Cross Border :- ACE"
commodity value in USD show twice --- now when we select any shipment like astray , brass then under the commodity details USD is still showing

[2021-05-19 11:49] rashmi0301 commented on #1047
done

[2021-05-19 11:53] Hardeep8587 commented on #1154
@rashmi0301 Please descirbe what was the point, where is it in PDF?

[2021-05-19 12:02] rashmi0301 commented on #1154
when in bond shipment is arrived we need to notify the border

[2021-05-19 12:26] Hardeep8587 commented on #1154
@rashmi0301 please describe how, please consult @AmitojSingh1

[2021-05-19 18:57] Hardeep8587 commented on #982
@rashmi0301 this is done, I fixed front end validation I will push code tomorrrow

[2021-05-19 20:50] rashmi0301 commented on #1112
DONE

[2021-05-19 20:50] #1112 closed, assigned to nobody

[2021-05-20 18:20] rashmi0301 commented on #1114
plus icon is added .
Data is appear in dropdown when we add entry through plus icon

[2021-05-20 18:20] #1114 closed, assigned to nobody

[2021-05-20 18:24] rashmi0301 commented on #1106
How did you find us?

select province placeholder ( state is there) -- done
and postal code i guess space should allow . and in placeholder example there is space in postal code -- done

![image](https://user-images.githubusercontent.com/79301742/119029793-f648df00-b95d-11eb-8b48-2a256e95fbe2.png)

[2021-05-20 18:25] #1106 closed, assigned to nobody

[2021-05-20 18:49] rashmi0301 commented on #974
Type is showing now .

![image](https://user-images.githubusercontent.com/79301742/119032755-64db6c00-b961-11eb-8e2e-1b71a6c99379.png)

[2021-05-20 18:49] #974 closed, assigned to nobody

[2021-05-20 19:17] rashmi0301 commented on #683
This is done

applied optional to all

[2021-05-20 19:17] #683 closed, assigned to nobody

[2021-05-20 19:45] rashmi0301 commented on #623
1. vehicle - list page  -- hyphine is showing
2. fuel - list page -- 00 is showing
3. ace/aci  -- aci  hyphine is showing
4. driver -- page didnt open

[2021-05-20 20:00] rashmi0301 commented on #659
1. button should be disabled  -- pending

Now we had applied only required validation .
if we entered the incorrect username and password -- then only this message is appear "Incorrect username or password."
as per the discussion with @FH-sandeepkaur1 @Hardeep8587 we are not applying the pattern validations

[2021-05-20 20:32] FH-sandeepkaur1 commented on #1120
There a pending discussion about how things will work and link with eld from trips. after the final discussion it will be implemented.

[2021-05-20 21:00] rashmi0301 commented on #1107
![image](https://user-images.githubusercontent.com/79301742/119048094-98bf8d00-b973-11eb-89b7-13292aae6f3e.png)

why this occur ? plz explain
Tried 5 times hard refresh ..

[2021-05-20 21:01] rashmi0301 commented on #1107
![image](https://user-images.githubusercontent.com/79301742/119048217-c99fc200-b973-11eb-9448-742207bf0a32.png)

super admin name is not edited

[2021-05-20 21:28] rashmi0301 commented on #982
@Hardeep8587

now on list view page -- m not getting the vendor , fuel amount , fuel unit data
detail page - m not getting the discount still . and if m not entered any data in discount field then discount field is not showing as well . and when i filled the discount field then discount name is not showing

[2021-05-20 21:31] rashmi0301 commented on #982
![image](https://user-images.githubusercontent.com/79301742/119051466-0cfc2f80-b978-11eb-8c52-6a17ebbff662.png)

00 is showing

[2021-05-20 21:35] rashmi0301 commented on #982
![image](https://user-images.githubusercontent.com/79301742/119051842-8e53c200-b978-11eb-853d-22215f37ecd9.png)

in some of the state i m not getting the city data

[2021-05-21 07:53] robinhawks commented on #1117
@FH-sandeepkaur1 please do comment if you have worked on it...
@rashmi0301 please update ....and close the isssue !

[2021-05-21 07:55] robinhawks commented on #1133
@FH-sandeepkaur1 - Please do comment
@rashmi0301  please do the testing and close the issue ....

[2021-05-21 07:56] robinhawks commented on #1138
@rashmi0301 please update......

[2021-05-21 08:14] rashmi0301 commented on #1138
@robinhawks   there is no update  from dev side. So please confirm os it done Or not.

[2021-05-21 08:15] rashmi0301 commented on #1133
@robinhawks there is no update from dev side . When it's done I will do testing

[2021-05-21 08:16] robinhawks commented on #1114
@rashmi0301 its updated in devapp but we need to update in design so let know pankaj too @fleetui

[2021-05-21 11:07] FH-sandeepkaur1 commented on #1117
1. adding a permanent route doesn't create trip automatically - In add trip when a permanent route is selected then a plan trip is created.
2. Todays Pick up should route to Planner with all the trips of current date - It is redirected to planner and current days trip will be visible on today's date tile on calendar

[2021-05-21 11:09] FH-sandeepkaur1 commented on #1117
I will update only when the PR is merged and I have tested the issues at my end first.

[2021-05-21 13:50] FH-sandeepkaur1 commented on #899
It is working. Please check

[2021-05-21 18:27] FH-sandeepkaur1 commented on #763
It is working

[2021-05-21 18:49] FH-sandeepkaur1 commented on #588
Please check and test functionality of login page @rashmi0301
the screenshot which you have added is of wrong sidebar. This is a different issue and it is already created.

[2021-05-21 19:11] nameetjambla commented on #1033
@rashmi0301  this issue is resolved now you can check

[2021-05-21 21:42] rashmi0301 commented on #1033
![image](https://user-images.githubusercontent.com/79301742/119200752-692b8600-ba42-11eb-94c0-94ada2743139.png)

1. backend validations
2. Vin                                                           | it should allow uppercase and numbers only
3. plate number                                           | it should be uppercase letters , space and numbers
4. Height

[2021-05-21 21:47] rashmi0301 commented on #899
working

[2021-05-21 21:47] #899 closed, assigned to nobody

[2021-05-21 21:55] robinhawks commented on #939
@FH-sandeepkaur1 please comment if its completed or in process
@rashmi0301 Test it and do not close until its Done !

[2021-05-21 21:57] robinhawks commented on #780
@fleetui any update
@rashmi0301 why this is taking too long !!

[2021-05-21 21:59] robinhawks commented on #779
@rashmi0301 Any update ??

[2021-05-21 22:01] robinhawks commented on #623
@FH-sandeepkaur1 please comment if its done so @rashmi0301 can test and close the issue

[2021-05-21 22:08] robinhawks commented on #899
@rashmi0301 Make sure its working and you need to attach the screenshot while closing as you said it was working !

[2021-05-21 22:18] rashmi0301 commented on #899
![image](https://user-images.githubusercontent.com/79301742/119203389-c413ac00-ba47-11eb-95a6-2ef6e7b097f9.png)

@robinhawks

[2021-05-21 22:19] rashmi0301 commented on #623
okay i will test tomorrow

[2021-05-21 22:21] rashmi0301 commented on #779
![image](https://user-images.githubusercontent.com/79301742/119203539-1b198100-ba48-11eb-812d-0199e59e99a7.png)

it is not done ..  if its done from devs side then i'll do

[2021-05-21 22:22] rashmi0301 commented on #780
![image](https://user-images.githubusercontent.com/79301742/119203587-3b494000-ba48-11eb-83e2-ed02fde0d070.png)

we are not getting the stop location on route information . once its done from dev side then i will do
@robinhawks

[2021-05-21 22:23] rashmi0301 commented on #939
@FH-sandeepkaur1 is working on that if its done then i will do testing .
i will close after the testing . @robinhawks

[2021-05-22 11:42] rashmi0301 commented on #588
![Screenshot (202)](https://user-images.githubusercontent.com/79301742/119225330-04127780-bab8-11eb-949d-b1beb40e35d4.png)
![Screenshot (203)](https://user-images.githubusercontent.com/79301742/119225332-05dc3b00-bab8-11eb-8425-f31a702f681f.png)

Working fine

[2021-05-22 16:35] rashmi0301 commented on #623
changes are still not reflected on dev app

[2021-05-22 16:56] rashmi0301 commented on #1115
![image](https://user-images.githubusercontent.com/79301742/119234609-b57ad280-bae3-11eb-8bf1-7bce12853444.png)

when i type any location under the delivery then suggestions are also appear under the pickup location and these are exactly same .

![image](https://user-images.githubusercontent.com/79301742/119234648-e1965380-bae3-11eb-91b6-e69a2fe6bd71.png)
when i type any location under the pickup

[2021-05-22 17:03] rashmi0301 commented on #1115
1. pickup location should be manual if the map is not picking it up --- currently it works when we manually type any location then clicked on outside the field then locations save in input field .  can we do this ?
@FH-sandeepkaur1 @robinhawks plz confirm .

2. If FTL is selected , only 1 shipper and 1 receiver is supposed to be added but multiple commodities with multiple pickup address and drop

[2021-05-22 19:08] rashmi0301 commented on #939
route is added with multiple stops and modals are also working .
editing is also working
check  entry this
![image](https://user-images.githubusercontent.com/79301742/119238271-64c0a500-baf6-11eb-894c-ff958e01b3a1.png)

[2021-05-22 19:08] #939 closed, assigned to nobody

[2021-05-22 19:11] rashmi0301 commented on #780
![image](https://user-images.githubusercontent.com/79301742/119238305-9afe2480-baf6-11eb-9456-4f64451c8528.png)

Now we are showing the multiple stops with horizontal scroll --- DONE
Now we are showing states with the stops in route information . --- DONE

check above screenshot i had added 10 stops with multiple states .

[2021-05-22 19:11] #780 closed, assigned to nobody

[2021-05-22 19:15] rashmi0301 commented on #779
![image](https://user-images.githubusercontent.com/79301742/119238305-9afe2480-baf6-11eb-9456-4f64451c8528.png)

Now the destination icon is at last and source icon is at first

check above screenshot i had added 10 stops with multiple states .

[2021-05-22 19:15] #779 closed, assigned to nobody

[2021-05-22 19:18] rashmi0301 commented on #1040
![image](https://user-images.githubusercontent.com/79301742/119343732-b3cc1e80-bc4b-11eb-9a2f-e7829fbc28cf.png)

plz update the design on design link
please add recurring route date on route detail page on design and then developer will implement on dev
plz add miles on detail page

[2021-05-22 19:43] rashmi0301 commented on #1117
1. adding a permanent route doesn't create trip automatically
Answer :- In add trip if we select order option then plan trip is created based on order locations
if we select route then plan trip is created based on routes location

2. Todays Pick up should route to Planner with all the trips of current date ---
Answer :- On overview page if we click on todays pickup it will redirect to the planner

[2021-05-22 19:44] rashmi0301 commented on #1117
http://devapp.fleethawks.com/#/dispatch/planner/calendar-view

[2021-05-22 19:45] #1117 closed, assigned to nobody

[2021-05-22 20:23] robinhawks opened #1170 "Compliance Module Optimisation.."

[2021-05-22 20:48] rashmi0301 commented on #1133
![image](https://user-images.githubusercontent.com/79301742/119240433-58dbdf80-bb04-11eb-9035-dd58102f7eba.png)

![image](https://user-images.githubusercontent.com/79301742/119240446-6b561900-bb04-11eb-8475-98c7d3e254a3.png)

time and dates are not showing

[2021-05-22 20:59] rashmi0301 commented on #1133
carriers are not showing
order popup --- customer name is not showing
if we select order - then consignor consignee name should appear

[2021-05-22 21:01] rashmi0301 commented on #1135
![image](https://user-images.githubusercontent.com/79301742/119240675-1d421500-bb06-11eb-9275-732a43375924.png)

filled all of the data but create trip is not enabled

[2021-05-22 21:03] rashmi0301 commented on #763
This is working

[2021-05-22 21:03] #763 closed, assigned to nobody

[2021-05-23 15:59] rashmi0301 commented on #565
Route tab in design
select date field under the recurring is missing -- in design

planner tab in design :-
remove searching -- in design
put asset instead of trailer -- in design

Documents tab in design :-
remove my folder
remove download button -- in design
download document file option is missing under the actions-- in design
document popup is not open -- in design

ACE manifest in design :-
s

[2021-05-23 16:02] rashmi0301 commented on #565
@fleetui please update the items these still pending .

[2021-05-23 16:59] rashmi0301 commented on #566
Driver add form in design :-
when click on contractor then contractor id field is missing -- design
Default payment type options are not same -- in design
labels name are not same --- list view in design

Asset model in design :-
inspection form is missing -- in design

Fuel
searching fields should be same like dev
attach field label is not clear - add form

 reminder :-
 approx last date and odom

[2021-05-23 17:00] rashmi0301 commented on #566
@fleetui plz check make all of the items  should be same on add page

[2021-05-23 17:00] rashmi0301 commented on #566
entire fleet page is different is design so plz it should be same as per the dev app

[2021-05-24 11:30] Daljit-fleetHawks commented on #1170
@robinhawks Done

[2021-05-24 11:49] rashmi0301 opened #1172 "Design issue :- Route - UI"
![route](https://user-images.githubusercontent.com/79301742/119238545-cc2b2480-baf7-11eb-8cd0-3257c8063c3e.png)

2. plz add the recurring date on dev link -- detail page

[2021-05-24 12:01] rashmi0301 commented on #981
i will create another issue for this

[2021-05-24 12:01] #981 closed, assigned to nobody

[2021-05-24 12:05] rashmi0301 opened #1173 "Design issue :- Dropdown issue in entire solution"
![image](https://user-images.githubusercontent.com/79301742/119345391-aa43b600-bc4d-11eb-91d0-997afbbd4abd.png)

[2021-05-24 12:07] rashmi0301 opened #1174 "Design Issue :- Dropdown issues in entire solution"
![image](https://user-images.githubusercontent.com/79301742/119345519-d6f7cd80-bc4d-11eb-9f64-700f43601039.png)

[2021-05-24 12:11] rashmi0301 commented on #584
i will create separate sheet for this

[2021-05-24 12:11] #584 closed, assigned to nobody

[2021-05-24 12:12] rashmi0301 commented on #587
i will create a separate sheet for this

[2021-05-24 12:12] #587 closed, assigned to nobody

[2021-05-24 12:59] rashmi0301 opened #1175 "Design issues :- UI of order module"
https://writer.zoho.com/writer/open/o8v358ace936f0e024344892281f4cd534d7d

[2021-05-24 14:05] Hardeep8587 commented on #1147
@rashmi0301 m on it

[2021-05-24 14:07] rashmi0301 opened #1177 "Design issues :- UI of trip model"
https://writer.zoho.com/writer/open/o8v352cda59f4f54f4630ba625100c189239b

[2021-05-24 15:37] rashmi0301 opened #1178 "Design issues :- UI of Route module"
https://writer.zoho.com/writer/open/o8v35ed75487541854dc9bca286781fff89a4

[2021-05-24 17:27] rashmi0301 commented on #975
now when we delete any doc then deleted msg notification is not appear

[2021-05-24 19:00] Hardeep8587 commented on #1147
Currencies in payment section -- it should be like the order . if we select CAD then all currencies should be in CAD - done
document with cross icon is not working -- add , edit , detail page - working
if select the checkbox of CSA then on edit page tick is not showing - done
Home terminal address -- address should not cut off - done
assign vehicle raw data should not appear -- detail , edit page

[2021-05-24 20:05] rashmi0301 commented on #962
On detail pages of issue tab

resolve button is disable now for resolved issues
closed and open -- resolve button is enable

[2021-05-24 20:19] rashmi0301 opened #1180 "Design issues :- UI of Planner module"
https://writer.zoho.com/writer/open/o8v35e9b6f02bfb494b61b46847a821a9ec90

[2021-05-24 20:20] rashmi0301 opened #1181 "Design issues :- UI of document module"
https://writer.zoho.com/writer/open/o8v35eb2758f2c78d4febab4b44f9d798e071

[2021-05-24 20:21] rashmi0301 opened #1182 "Design issues :- UI of ACE"
https://writer.zoho.com/writer/open/o8v352e61b6ce6b374b56a83f613bc3402d59

this is not complete fully coz im getting the internal server error on detail

[2021-05-24 20:35] rashmi0301 opened #1183 "Design issues :- UI of ACI"
https://writer.zoho.com/writer/open/o91uu29273bec2dd240f0979dfaae7299b416

this is not complete coz internal server error  occur

[2021-05-24 21:25] robinhawks commented on #805
@rashmi0301 any update ?

[2021-05-24 21:27] robinhawks commented on #1140
@FH-sandeepkaur1 @rashmi0301

Update pls ?

[2021-05-24 21:28] robinhawks commented on #1110
@FH-sandeepkaur1 @rashmi0301

Any Update ??

[2021-05-24 21:30] robinhawks commented on #972
@FH-sandeepkaur1 @rashmi0301

Any Update ?

[2021-05-24 21:33] robinhawks commented on #1147
@Daljit-fleetHawks

Try to resolve as much as much as  you can !

[2021-05-24 21:41] robinhawks commented on #1170
@rashmi0301
Test & Close the isssue

[2021-05-25 07:09] rashmi0301 commented on #805
@robinhawks this is the technical issue dev can handle this

[2021-05-25 07:34] rashmi0301 commented on #1111
done

[2021-05-25 07:34] #1111 closed, assigned to nobody

[2021-05-25 07:35] rashmi0301 commented on #1139
now  we had implemented the searching field for confirmed trips

[2021-05-25 07:35] #1139 closed, assigned to nobody

[2021-05-25 07:43] rashmi0301 commented on #1138
![image](https://user-images.githubusercontent.com/79301742/119459064-360f1e00-bcf2-11eb-9397-4be4aee50b5b.png)

[2021-05-25 07:43] #1138 closed, assigned to nobody

[2021-05-25 09:02] robinhawks commented on #1146
@Hardeep8587 @FH-sandeepkaur1 @rashmi0301

How much time will it take to fix these minor issues ! and who is working on which issue I don't have any update on this from anyone ....

[2021-05-25 09:03] robinhawks commented on #1118
@Daljit-fleetHawks @rashmi0301 Any update on this !!!

[2021-05-25 09:11] robinhawks commented on #565
@Hardeep8587 @fleetui @rashmi0301

Who is working on which points anyone any Guesses ? its a total mess @rashmi0301 no update from anyone

[2021-05-25 09:14] robinhawks commented on #566
@fleetui Almost 35 points in one Git issue .......How many are done can you at least comment on this !

[2021-05-25 11:57] pankaj-fleethawks commented on #566
All above points has been done
Check now @rashmi0301 and @robinhawks

Check following sheet
https://sheet.zoho.com/sheet/open/o8v3557a1cf3086a5430dbfba7e73cb8af90c?sheet=Sheet1&range=F21

[2021-05-25 12:26] rashmi0301 commented on #566
okay @fleetui

[2021-05-25 12:52] Hardeep8587 commented on #1146
@rashmi0301 plz mark which are done, and plz don't put many in one

[2021-05-25 13:21] rashmi0301 commented on #566
all items are in add add forms under the design link

[2021-05-25 13:21] #566 closed, assigned to nobody

[2021-05-25 14:30] Hardeep8587 commented on #1108
@rashmi0301 I will let u know when my branch is merged,

[2021-05-25 17:13] pankaj-fleethawks commented on #1040
All point has been done, check @rashmi0301 and @robinhawks

http://design.fleethawks.com/dashboard/add-permanent-route.php
http://design.fleethawks.com/dashboard/permanent-route-detail.php

[2021-05-25 17:30] robinhawks commented on #1040
Test & close the issue @rashmi0301

[2021-05-25 17:33] pankaj-fleethawks commented on #565
I am working on this bhaji

[2021-05-25 18:06] Daljit-fleetHawks commented on #1110
@robinhawks first point is done, second is on hold due to work on reminders needs to done by @FH-sandeepkaur1 first...she is working on that

[2021-05-25 18:32] rashmi0301 opened #1185 "Design issues :- UI of vehicle module"
https://writer.zoho.com/writer/open/bqhbq4e8c75f24bf24f1aa0507be956aaaae2

[2021-05-25 18:32] rashmi0301 opened #1186 "Design issues :- Ui of Reminder module"
https://writer.zoho.com/writer/open/bqhbqb880d8c8a55b433b96553ed58130f6ef

[2021-05-25 18:34] rashmi0301 opened #1187 "Design issues :- UI of maintainence module"
https://writer.zoho.com/writer/open/o91uu5caad05f12de46fca9252ed22ca22d71

[2021-05-25 18:35] rashmi0301 opened #1188 "Design issues :- UI of inventory module"
https://writer.zoho.com/writer/open/o91uuaeed2ee992c549889661664f81745c28

[2021-05-25 18:35] rashmi0301 opened #1189 "Design issues :- UI of issue and geofence module"
https://writer.zoho.com/writer/open/o91uu5c70b380c19d4827871a86dc660995de

[2021-05-25 18:36] rashmi0301 opened #1190 "Design issues :- UI of fuel module"
https://writer.zoho.com/writer/open/o91uu292417c43e2a4f0ead15bf966e9d24c6

[2021-05-25 18:37] rashmi0301 opened #1191 "Design issues :- UI of asset module"
https://writer.zoho.com/writer/open/o91uuf03371b2f9b7461eb5f5456f2fc3faf5

[2021-05-25 19:00] rashmi0301 commented on #1040
Route information section is updated in Add form
miles and recurring date is updated on  design link detail page

[2021-05-25 19:00] #1040 closed, assigned to nobody

[2021-05-25 19:02] rashmi0301 commented on #1146
okay

[2021-05-25 19:13] rashmi0301 commented on #623
This is done on whole solution

[2021-05-25 19:13] #623 closed, assigned to nobody

[2021-05-25 19:24] Daljit-fleetHawks commented on #1085
@rashmi0301 Done

[2021-05-25 19:29] rashmi0301 commented on #644
yes this is working both assign driver / driver's team
working fine driver if we put old email , username , cdl , sin

[2021-05-25 19:35] #644 closed, assigned to nobody

[2021-05-25 19:56] rashmi0301 commented on #1108
okay

[2021-05-25 19:57] rashmi0301 commented on #1146
citizenship data is not appear -- on list view -- done
Address -- if we are typing any location then only address type and address option should show on detail page . and if we are typing address manually then all fields are showing . --- we keep as it is

[2021-05-25 20:24] FH-sandeepkaur1 commented on #1135
It is working @rashmi0301

[2021-05-25 20:27] FH-sandeepkaur1 commented on #1133
date is not showing because you have not selected date while adding the stop.
time is not showing because there will drop off time on stop, not pickup time.

[2021-05-25 21:02] FHAdmin opened #1193 "2 users are able to login and operate in same browser ( we shouldnt allow this )"
For testing purpose , I used the following username and I was able to navigate in same browser for 2 different users.
This is a security concern where user may conflict the data thinking he is logged in himself/herself but it is not that case.

user used in this scenarios are :

a. Rashmifleethawks
b. Sixteen.May

[2021-05-26 12:19] Hardeep8587 commented on #1011
@rashmi0301 m on it

[2021-05-26 14:47] pankaj-fleethawks commented on #565
@rashmi0301  and @robinhawks
this issue has been done, @rashmi0301 check all points according sheet, if any point pending then please tell me. Thanks

https://sheet.zoho.com/sheet/open/o8v3557a1cf3086a5430dbfba7e73cb8af90c?sheet=Routing%20issue%20565&range=C41

[2021-05-26 15:14] rashmi0301 commented on #1153
okay

[2021-05-26 15:14] #1153 closed, assigned to nobody

[2021-05-26 15:27] rashmi0301 commented on #1155
Hi @AmitojSingh1 plz approve the broker list

![image](https://user-images.githubusercontent.com/79301742/119701265-030b7e00-be09-11eb-8a72-e8624d5acf7d.png)
![image](https://user-images.githubusercontent.com/79301742/119701311-0dc61300-be09-11eb-9a95-f9076b39cd05.png)

i am getting different data of broker you can see the add form detail and detail page

[2021-05-26 17:01] rashmi0301 commented on #1157
For vehicle  -- currently province is showing with the plate number

entry type -- still we are not getting the proper data on detail  page
like this
![image](https://user-images.githubusercontent.com/79301742/119701598-609fca80-be09-11eb-8c14-516d38578e0e.png)

[2021-05-26 17:17] rashmi0301 commented on #1158
DONE

[2021-05-26 17:17] #1158 closed, assigned to nobody

[2021-05-26 17:21] rashmi0301 commented on #1047
separate issue is created

rest points are done

[2021-05-26 17:21] #1047 closed, assigned to nobody

[2021-05-26 17:25] rashmi0301 commented on #1051
![image](https://user-images.githubusercontent.com/79301742/119704541-9eeab900-be0c-11eb-85c8-ffeb7833479a.png)

put # instead of number --pending in add , detail page and popups

[2021-05-26 17:27] rashmi0301 commented on #1156
![image](https://user-images.githubusercontent.com/79301742/119704816-eec98000-be0c-11eb-90dc-de8481811093.png)

@AmitojSingh1 please discuss the US address

[2021-05-26 18:16] rashmi0301 commented on #565
DONE items

planner tab in design :-
remove searching -- in design
put asset instead of trailer -- in design

ACE manifest in design :-
searching fields should same -- in design

ACI manifest in design :-
searching fields should same -- in design

Documents tab in design :-
remove my folder
remove download button -- in design
download document file option is missing under the actions-- in design
d

[2021-05-26 18:20] rashmi0301 commented on #1036
![image](https://user-images.githubusercontent.com/79301742/119711452-6f3faf00-be14-11eb-8795-9f6f0c2d80b0.png)

[2021-05-26 18:53] rashmi0301 opened #1196 "Dashboard :- when we open the dashboard then routing and dispatch navigation open"
![image](https://user-images.githubusercontent.com/79301742/119715557-fb53d580-be18-11eb-8fe4-00a62db814dd.png)

[2021-05-26 19:31] rashmi0301 commented on #1133
done

[2021-05-26 19:31] #1133 closed, assigned to nobody

[2021-05-26 19:48] rashmi0301 commented on #1135
No , this is not working . If we add new entry then button is disabled

[2021-05-26 19:50] rashmi0301 commented on #940
checked in ace -- this is working
ACI -- working

[2021-05-26 19:52] #940 closed, assigned to nobody

[2021-05-26 19:58] rashmi0301 commented on #926
![image](https://user-images.githubusercontent.com/79301742/119723174-03fcd980-be22-11eb-9f13-ad562792b292.png)

not working in case sensitive

[2021-05-26 20:16] pankaj-fleethawks commented on #1174
@rashmi0301  and @robinhawks I am working on this issue

[2021-05-26 20:24] Daljit-fleetHawks commented on #1193
@FHAdmin Done.

[2021-05-26 20:34] robinhawks commented on #1043
@rashmi0301 @Daljit-fleetHawks  Any update ?

[2021-05-26 20:36] Daljit-fleetHawks commented on #1043
@robinhawks @rashmi0301 First three points are completed, one left

[2021-05-27 07:56] rashmi0301 commented on #1156
1. deleted driver , vehicle , asset should not be clickable in dropdown

[2021-05-27 12:04] rashmi0301 commented on #573
issue is created in UI sheet

[2021-05-27 12:43] Daljit-fleetHawks commented on #810
@rashmi0301 Done

[2021-05-27 12:51] Daljit-fleetHawks commented on #810
Please ask Kunal to clean service tasks records from database

[2021-05-27 13:03] FH-sandeepkaur1 commented on #1116
It is on hold for now as discussed with @FHAdmin

[2021-05-27 13:13] robinhawks commented on #591
@rashmi0301  Any update ? why it is taking too long.... @Daljit-fleetHawks

[2021-05-27 13:47] rashmi0301 commented on #1079
Now unique company is in all tabs

[2021-05-27 13:47] #1079 closed, assigned to nobody

[2021-05-27 13:49] rashmi0301 commented on #1080
multiple additional contacts  button is added. But data is not appear in detail page ..

There are more changes after the schema changes so that all are updated in sheet

[2021-05-27 13:49] #1080 closed, assigned to nobody

[2021-05-27 13:56] rashmi0301 commented on #1193
login scenario :-

if we are logged in one tab with rashmifleethawks login then on another tab we should not able to login with the other credentials .

Logout is fine

[2021-05-27 13:57] rashmi0301 commented on #1135
DONE

[2021-05-27 13:57] #1135 closed, assigned to nobody

[2021-05-27 14:16] rashmi0301 commented on #975
done

[2021-05-27 14:16] #975 closed, assigned to nobody

[2021-05-27 14:16] rashmi0301 commented on #926
working in case sensitive

[2021-05-27 14:16] #926 closed, assigned to nobody

[2021-05-27 14:54] pankaj-fleethawks commented on #565
@rashmi0301 done all above point now.. you can check now..

[2021-05-27 14:56] robinhawks commented on #643
@fleetui  For Validations spacing on entire Solution is anyone can be able to help you...

[2021-05-27 16:10] robinhawks commented on #962
@Hardeep8587 @FH-sandeepkaur1 @rashmi0301
who is working on which points Any update ?

[2021-05-27 16:16] robinhawks commented on #800
@rashmi0301 Any updates on these points as it is pending since 2 months

[2021-05-27 16:25] Hardeep8587 commented on #1121
@robinhawks I  removed the vehicle utilization nd document part as per discussion with Param

[2021-05-27 16:59] rashmi0301 commented on #972
@FH-sandeepkaur1 is working on that . please wait for her approval

[2021-05-27 17:01] rashmi0301 commented on #962
1 validation exception error is still there .
2. After resolving the service log issues then these are occurred :- On detail pages of issue tab

resolve button is disable now for resolved issues
closed and open -- resolve button is enable

[2021-05-27 17:03] rashmi0301 commented on #958
I am done the validations with Address book .

@nameetjambla @sadaf510  is working on onboard , fleet  , routing

[2021-05-27 17:36] Hardeep8587 commented on #962
@rashmi0301  please verify

[2021-05-27 18:31] rashmi0301 commented on #565
DONE

[2021-05-27 18:31] #565 closed, assigned to nobody

[2021-05-27 18:43] rashmi0301 commented on #1085
okay

[2021-05-27 19:35] rashmi0301 commented on #1085
after the discussion we dont  want to put auto select currencies in loan and purchase details section ..
These are the optional fields so we gave the flexibility to user that they put anything like USD /CAD

[2021-05-27 19:35] #1085 closed, assigned to nobody

[2021-05-27 19:50] rashmi0301 commented on #1110
instead of open issues -- resolved issues are showing -- DONE
2.  due date is not showing and this is not in reminders also -- PENDING

@FH-sandeepkaur1 if you are working on reminders to fetch the data here  then plz look into vehicle reminder also ( strng error occur ) and plz change the subscriber label also from service reminder . if we dont add subscribers and if we add service and vehicle re

[2021-05-27 20:42] rashmi0301 commented on #1116
okay

[2021-05-27 20:46] rashmi0301 commented on #1193
login logout scenarios are  fine
but

after this if i had opened  add form in one tab and in another tab  i just refreshed the page then the first tab is also refreshed .
@Daljit-fleetHawks

[2021-05-27 20:47] rashmi0301 commented on #1107
i will test the onboard tomm after the validations

[2021-05-27 20:47] rashmi0301 commented on #1108
i will test the onboard tomm after the validations

[2021-05-27 21:18] rashmi0301 commented on #962
@FH-sandeepkaur1 is doing the schema changes . after this then i will do proper testing of this issue

[2021-05-28 13:14] Hardeep8587 commented on #1147
@rashmi0301  done

[2021-05-28 13:22] Hardeep8587 commented on #1146
![Uploading image.png…]()

[2021-05-28 13:51] rashmi0301 commented on #1126
@AmitojSingh1 plz comment the maps

[2021-05-28 16:30] rashmi0301 commented on #982
checked fuel on live ( sixteen.may login )

issues :-

1. Still not showing the vendor on list page
2. units are not showing with the DEF fuel quantity -- detail page
3. still city is not showing
4. Description , attach photo , select trip -- not appear in detail page

[2021-05-28 16:43] Daljit-fleetHawks commented on #591
@rashmi0301 Please share all test cases

[2021-05-28 16:59] rashmi0301 commented on #982
checked fuel on ( rashmifleethawks login)

1. list view :- province is not showing . Only country ad city is showing
2. vendor data is not showing -- list page
3. fuel units -- units are not showing -- list page
rest issues are same as per the live issue

[2021-05-28 18:05] rashmi0301 commented on #962
1. validation exception error --- Resolved

2. when we are going through vehicle and asset to resolve the issue but when we are not selected the issue then it gives error to show that please select the issue to resolve --- No need as per the discussion @Daljit-fleetHawks

3. on that page those issues are already resolved and closed that should not appear on service log --- DONE now only open issue

[2021-05-28 18:15] #962 closed, assigned to nobody

[2021-05-28 18:31] pankaj-fleethawks commented on #1191
All points has been done of this issue @rashmi0301 , @robinhawks
check according sheet also
https://writer.zoho.com/writer/open/o91uuf03371b2f9b7461eb5f5456f2fc3faf5

[2021-05-28 19:05] rashmi0301 commented on #1146
DONE all points

[2021-05-28 19:05] #1146 closed, assigned to nobody

[2021-05-28 19:05] rashmi0301 commented on #1147
done all points

[2021-05-28 19:05] #1147 closed, assigned to nobody

[2021-05-28 19:06] rashmi0301 commented on #1121
removed the vehicle utilization nd document part

[2021-05-28 19:06] #1121 closed, assigned to nobody

[2021-05-28 19:08] rashmi0301 commented on #803
will close after cdl is removed from list

[2021-05-28 20:10] rashmi0301 commented on #1013
1. selected issue name is not appear on editing page
2. request for missing part not working
3. when select asset the odometer should not appear . completion date , asset name should appear -- please check for vehicle as well

[2021-05-29 11:08] rashmi0301 commented on #1196
DONE .

Now fleet nav bar is appear

[2021-05-29 11:08] #1196 closed, assigned to nobody

[2021-05-29 11:31] rashmi0301 commented on #805
Done now when we already login then login screen  should not appear

then direct map dashboard is appear

[2021-05-29 11:32] #805 closed, assigned to nobody

[2021-05-29 11:59] robinhawks commented on #946
@rashmi0301 what is pending in this  ? why you haven't Tested yet

[2021-05-29 12:02] robinhawks commented on #905
@nameetjambla @rashmi0301  Update pls ? where are you guys stuck ????  its been pending since April..............

[2021-05-29 12:06] robinhawks commented on #958
@rashmi0301 @nameetjambla How much time do we need to finish this guys ???

[2021-05-29 12:08] robinhawks commented on #1136
@FH-sandeepkaur1 please add a comment if you need any discussion ..

[2021-05-29 12:11] rashmi0301 commented on #588
![image](https://user-images.githubusercontent.com/79301742/120069754-4f8acf80-c03c-11eb-9bad-c7d7f82ea8ea.png)

reoccurrence

[2021-05-29 12:14] rashmi0301 commented on #591
Done

tested on firefox , chrome , edge

it happens sometime .  Discussed with @kunalfleethawks regarding this

[2021-05-29 12:14] #591 closed, assigned to nobody

[2021-05-29 12:32] sadaf510 commented on #958
I have finished my part validations on routing and dispatch @robinhawks

[2021-05-29 12:49] nameetjambla commented on #1033
@rashmi0301  once my PR is merged then you will check.

[2021-05-29 12:50] nameetjambla commented on #1081
@rashmi0301 @robinhawks  Once my pr is merged you will check done from my side

[2021-05-29 12:53] nameetjambla commented on #958
@rashmi0301  @robinhawks  done from my side once my updated PR is merged you will check.

[2021-05-31 15:07] pankaj-fleethawks commented on #1189
@rashmi0301  and @robinhawks

Issue module and geofence module issues has been done so check it @rashmi0301

Here is the sheet of points that are done
https://writer.zoho.com/writer/open/o91uu5c70b380c19d4827871a86dc660995de

[2021-05-31 21:19] robinhawks commented on #1061
@Daljit-fleetHawks If the Issue is DONE, Pls comment and let @rashmi0301 know so that she can TEST ......

[2021-06-01 10:59] Daljit-fleetHawks commented on #1061
@robinhawks Sure, Let me push the code and will ask @rashmi0301 to test

[2021-06-01 13:26] pankaj-fleethawks commented on #1190
@rashmi0301 and @robinhawks
all the points of this issue has been done, please check

Sheet
https://writer.zoho.com/writer/open/o91uu292417c43e2a4f0ead15bf966e9d24c6

[2021-06-01 13:52] rashmi0301 commented on #803
CDL is removed from the list

[2021-06-01 13:52] #803 closed, assigned to nobody

[2021-06-01 13:56] rashmi0301 commented on #982
DONE

[2021-06-01 13:56] #982 closed, assigned to nobody

[2021-06-01 17:56] rashmi0301 commented on #942
Done

[2021-06-01 17:56] #942 closed, assigned to nobody

[2021-06-01 17:57] rashmi0301 commented on #972
We are receiving the emails now

[2021-06-01 17:57] #972 closed, assigned to nobody

[2021-06-01 17:59] rashmi0301 commented on #958
Address book validations are done and tested
Routing Dispatch  validations are done and tested except cross border
Fleet validations are tested but having issues in inventory + driver + vehicle + geofence

[2021-06-01 18:00] rashmi0301 commented on #1021
Send to manifest button  functionality --- HOLD

[2021-06-01 18:01] rashmi0301 commented on #1136
Hold

[2021-06-01 18:03] rashmi0301 commented on #677
No update from devs side

[2021-06-01 18:03] rashmi0301 commented on #677
@Daljit-fleetHawks any update

[2021-06-01 18:03] rashmi0301 commented on #1033
Asset validations are done

[2021-06-01 18:03] #1033 closed, assigned to nobody

[2021-06-01 18:04] rashmi0301 commented on #1036
Hold as for now

[2021-06-01 18:04] rashmi0301 commented on #1142
Hold as for now

[2021-06-01 18:05] rashmi0301 commented on #1157
Hold as for now

[2021-06-01 18:05] rashmi0301 commented on #1107
buisness county field is added

[2021-06-01 18:05] #1107 closed, assigned to nobody

[2021-06-01 20:53] pankaj-fleethawks commented on #1185
@rashmi0301  and @robinhawks this issue has been done and PR created and sent to @kunalfleethawks

When PR will merge then I will update you. Thanks

Sheet of points
https://writer.zoho.com/writer/open/bqhbq4e8c75f24bf24f1aa0507be956aaaae2

[2021-06-02 11:26] rashmi0301 opened #1237 "Design :- Driver UI on dev"
https://writer.zoho.com/writer/open/oci941212116d32624194999f93f9bd87a524

[2021-06-02 12:12] pankaj-fleethawks commented on #1190
@rashmi0301 and @robinhawks

PR not merged yet, there is build error, when it will merge i will update you. Thanks

[2021-06-02 12:28] rashmi0301 commented on #1011
any update

[2021-06-02 12:40] rashmi0301 commented on #1108
DONE

[2021-06-02 12:40] #1108 closed, assigned to nobody

[2021-06-02 13:22] rashmi0301 commented on #659
if we want to edit the username on login screen then button should be enable

[2021-06-02 13:24] rashmi0301 commented on #1081
I m getting the roll back validation errors on carrier page
zip code validation - pending ( need to remove )

[2021-06-02 13:32] rashmi0301 commented on #810
if the text is more now it breaks in two - three lines .
![image](https://user-images.githubusercontent.com/79301742/120489194-4cf5e600-c36c-11eb-8522-70a92c5ffa0d.png)

DONE

[2021-06-02 13:32] #810 closed, assigned to nobody

[2021-06-02 13:34] rashmi0301 commented on #1140
Pending in vehicle  , mainatianece , inventory , issue  ---- fleet

[2021-06-02 13:39] rashmi0301 commented on #1013
reoccurrence

1. if we add issue through add issue button then it is not appear on issue module
2. issue is not resolved on service when we edit the detail
Scenario is that :- on detail page of issue if we click on resolve via service log button then on service log add form - filled all of the req. fields except issue and click on save button .
then again click on edit button over the same detail

[2021-06-02 14:43] rashmi0301 commented on #946
now the buttons are disabled like save and update
but when you fill the required fields with valid data then it is enable

except trips -- no need to do this here

[2021-06-02 14:44] #946 closed, assigned to nobody

[2021-06-02 17:14] Hardeep8587 commented on #1011
@rashmi0301 it's done plz test

[2021-06-02 17:15] Hardeep8587 commented on #1011
@rashmi0301 frontend validations are left

[2021-06-02 19:41] pankaj-fleethawks commented on #1188
@rashmi0301  and @robinhawks

All the points has been done of this issue

Updated sheet
https://writer.zoho.com/writer/open/o91uuaeed2ee992c549889661664f81745c28

PR send to kunal and it will merge at morning, i will update you when it will merge. Thanks

[2021-06-03 12:55] pankaj-fleethawks commented on #1188
@rashmi0301 and @robinhawks

PR merged and changes on dev link. Check now..Thanks

[2021-06-03 15:36] rashmi0301 commented on #659
Done

now if we dont fill any credentials then button disable is showing
if we fill credentials then button is enable and if we want to edit then button is also enable

For validations
Now we had applied only required validation .
if we entered the incorrect username and password -- then only this message is appear "Incorrect username or password."
and only touched dirty validation is appear

[2021-06-03 15:36] #659 closed, assigned to nobody

[2021-06-03 17:17] robinhawks commented on #854
@rashmi0301 any update on this

[2021-06-03 19:33] rashmi0301 commented on #1110
DONE now

[2021-06-03 19:33] #1110 closed, assigned to nobody

[2021-06-04 16:31] Daljit-fleetHawks commented on #677
@rashmi0301 Done

[2021-06-04 21:07] pankaj-fleethawks commented on #1187
@rashmi0301 and @robinhawks all the points of this issue has been done

PR sent to kunal I will update you when it will merge.Thanks

[2021-06-05 12:23] pankaj-fleethawks commented on #1187
@rashmi0301 and @robinhawks PR has been merge you can check all points on devapp now. Thanks

[2021-06-05 13:06] Daljit-fleetHawks commented on #1193
@rashmi0301 Done

[2021-06-05 13:07] Daljit-fleetHawks commented on #1118
@rashmi0301 Done

[2021-06-05 13:53] rashmi0301 commented on #1043
if we click on add more button , on clicking the shipment 2 then above section of shipment 1 should be close . Same repetition in detail page also

if we want to edit the details of the shipment 2 then we click on edit option then shipment 2 details are also opened in shipment 1 .

Temperature unit should be correct . if we select Celsius then both the units showing Celsius

while editing delivery

[2021-06-05 14:01] #1043 closed, assigned to nobody

[2021-06-05 14:03] rashmi0301 commented on #1061
![image](https://user-images.githubusercontent.com/79301742/120894169-e5d66c80-c5cb-11eb-8881-363089fd5be8.png)

Scenerio is that

when we  delete the consignee / consignor from top of the del button then still update button was there and i m not able to save the detail .
when we dont want to edit the consignee consignor detail then still update  button was there

[2021-06-05 18:10] pankaj-fleethawks commented on #1186
@rashmi0301 and @robinhawks all the points has been done of this issue

PR sent to kunal, when it will merge i will confirm you
https://github.com/Fleet-Hawks-Inc/fh-cloud-app/pull/1275

[2021-06-05 18:53] rashmi0301 commented on #1115
Not done

[2021-06-07 10:40] nameetjambla commented on #958
@rashmi0301  you can check the validations of the entire fleet if you still face any problems do let me know.

[2021-06-07 20:08] pankaj-fleethawks commented on #1237
@rashmi0301 and @robinhawks all these points of this issue has been done

I will be update you when code will update on deve link

[2021-06-08 13:58] rashmi0301 commented on #958
DONE

[2021-06-08 13:58] #958 closed, assigned to nobody

[2021-06-08 16:56] kunalfleethawks opened #1290 "sample issue to Zoho Sprints"

[2021-06-08 16:57] #1290 closed, assigned to nobody

[2021-06-08 16:57] kunalfleethawks opened #1291 "sample issue to Zoho sprint"

[2021-06-08 17:00] #1291 closed, assigned to nobody

[2021-06-08 17:00] kunalfleethawks opened #1292 "sample issue from Zoho sprint 1"

[2021-06-09 04:58] #1292 closed, assigned to nobody

[2021-06-10 17:15] pankaj-fleethawks commented on #1237
@rashmi0301 and @robinhawks
Driver list and driver detail page has been done

Add driver page PR yet to be merged, so please wait

[2021-06-10 18:51] pankaj-fleethawks commented on #1237
Add driver PR has been merged.. you can check now @rashmi0301  on devapp. Thanks

[2021-06-15 06:44] rashmi0301 commented on #1061
done

[2021-06-15 06:44] #1061 closed, assigned to nobody

[2021-06-15 06:44] rashmi0301 commented on #1118
Done

[2021-06-15 06:44] #1118 closed, assigned to nobody

[2021-06-15 06:44] rashmi0301 commented on #1123
Done

[2021-06-15 06:44] #1123 closed, assigned to nobody

[2021-06-15 06:46] rashmi0301 commented on #1137
Done

[2021-06-15 06:46] #1137 closed, assigned to nobody

[2021-06-15 06:47] rashmi0301 commented on #1011
frontend validations Done

[2021-06-15 06:47] #1011 closed, assigned to nobody